app/approval-agent.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: IMO/NCSR Approval Agent
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: wonendieee/generic_excel_template_filler:0.3.0@ac5deb1202f58b8b05614051c7e4684512c7a81c3bde389e9e71f89694073978
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: atoy0m0/pdf-to-images:1.0.1@bfd6805409081d0ce320c6ecfdd0cc74a3b5e07b9d3ee2450bd53226f9ce40ae
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm-source-1774945225542-target
      selected: false
      source: llm
      sourceHandle: source
      target: '1774945225542'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774943855472-source-llm-target
      selected: false
      source: '1774943855472'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774944313161-source-17750057679480-target
      source: '1774944313161'
      sourceHandle: source
      target: '17750057679480'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774944315756-source-17750057683160-target
      source: '1774944315756'
      sourceHandle: source
      target: '17750057683160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17750057679480-source-17750057679481-target
      source: '17750057679480'
      sourceHandle: source
      target: '17750057679481'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17750057683160-source-17750057683161-target
      source: '17750057683160'
      sourceHandle: source
      target: '17750057683161'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1774924610151-source-1774943864283-target
      source: '1774924610151'
      sourceHandle: source
      target: '1774943864283'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1774945225542-source-1775554624107-target
      source: '1774945225542'
      sourceHandle: source
      target: '1775554624107'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17750057679481-source-1775554648405-target
      source: '17750057679481'
      sourceHandle: source
      target: '1775554648405'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17750057683161-source-1775554652015-target
      source: '17750057683161'
      sourceHandle: source
      target: '1775554652015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1775554624107-source-1775611776379-target
      source: '1775554624107'
      sourceHandle: source
      target: '1775611776379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1775554648405-source-1775612030587-target
      source: '1775554648405'
      sourceHandle: source
      target: '1775612030587'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1775554652015-source-1775613074009-target
      source: '1775554652015'
      sourceHandle: source
      target: '1775613074009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1775611776379-source-answer-target
      source: '1775611776379'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1775612030587-source-answer-target
      source: '1775612030587'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1775613074009-source-answer-target
      source: '1775613074009'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: if-else
      id: 1774943864283-source-1774943607626-target
      source: '1774943864283'
      sourceHandle: source
      target: '1774943607626'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774943607626-true-1774943871082-target
      source: '1774943607626'
      sourceHandle: 'true'
      target: '1774943871082'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1774943871082-source-1774943855472-target
      source: '1774943871082'
      sourceHandle: source
      target: '1774943855472'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774943607626-9fa029f2-b199-485f-8671-3304365c64a6-1775630545080-target
      source: '1774943607626'
      sourceHandle: 9fa029f2-b199-485f-8671-3304365c64a6
      target: '1775630545080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774943607626-7bfbc931-bcc0-4f73-bf90-945992d84e55-1775630788392-target
      source: '1774943607626'
      sourceHandle: 7bfbc931-bcc0-4f73-bf90-945992d84e55
      target: '1775630788392'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1775630788392-source-1774944315756-target
      source: '1775630788392'
      sourceHandle: source
      target: '1774944315756'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1775630545080-source-1774944313161-target
      source: '1775630545080'
      sourceHandle: source
      target: '1774944313161'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1774924610151-source-1775705579726-target
      source: '1774924610151'
      sourceHandle: source
      target: '1775705579726'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: if-else
      id: 1775705579726-source-1774943607626-target
      source: '1775705579726'
      sourceHandle: source
      target: '1774943607626'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: USER INPUT
        type: start
        variables:
        - default: ''
          hint: ''
          label: mission
          max_length: 48
          options:
          - 船舶报告系统
          - 船舶定线制
          - 分道通航制
          placeholder: ''
          required: true
          type: select
          variable: mission
      height: 109
      id: '1774924610151'
      position:
        x: -51.21665102311334
        y: 261
      positionAbsolute:
        x: -51.21665102311334
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774943855472'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}


            {{#1774943855472.result#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: zai-org/GLM-4.6V
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 0c2bb321-40c5-4e7d-ae08-aaf4d3d8d89a
          role: system
          text: "You are an \"IMO/NCSR Approval Conclusion Analyst\".\n\nYour task\
            \ is NOT to reconstruct a source table.\nYour task is NOT to extract raw\
            \ key information into table cells.\nYour task is NOT to output JSON.\n\
            \nYour only task is:\nRead the source document, PDF page images, and knowledge\
            \ retrieval results, then produce a decision-oriented review memo for\
            \ a downstream approval-table node.\n\nThis is an approval-conclusion\
            \ task.\nThe downstream table is a reviewer decision table, not a source-information\
            \ table.\n\nEvidence priority:\n1. First priority: PDF page images and\
            \ visually captured content.\n2. Second priority: extracted document text.\n\
            3. Third priority: knowledge retrieval results.\n\nIf extracted text conflicts\
            \ with page-image content, follow the page-image content.\nIf knowledge\
            \ retrieval conflicts with the source document, follow the source document.\n\
            \nCore decision semantics:\n- \"✓\" = the aspect is explicitly addressed\
            \ in the proposal and appears clear, adequate, and free of review concern.\n\
            - \"N/A\" = the aspect is not mentioned or not evidenced in the proposal.\n\
            - \"Un\" = the aspect is mentioned, but there is a reviewer concern, ambiguity,\
            \ insufficiency, inconsistency, or other problem that should be explained\
            \ in footnote n.\n\nImportant interpretation rule:\n- Do NOT use bare\
            \ \"U\".\n- Do NOT use \"✓n\".\n- Do NOT use \"-\".\n- Do NOT use empty\
            \ string \"\".\n- If clearly addressed without issue, use \"✓\".\n- If\
            \ not mentioned, use \"N/A\".\n- If mentioned but problematic or unclear,\
            \ use \"Un\".\n\nMandatory discipline:\n1. You must think like a reviewer\
            \ filling an approval conclusion table, not like an extractor copying\
            \ source facts.\n2. Except for document/document_proponent and remarks,\
            \ the final table cells must be marks only.\n3. Narrative content belongs\
            \ only in footnotes, remarks, and reasoning sections of this memo.\n4.\
            \ If an aspect is mentioned and has any review concern, ambiguity, insufficiency,\
            \ inconsistency, or qualification, assign \"Un\" with a footnote.\n5.\
            \ If an aspect is not mentioned, assign \"N/A\".\n6. If an aspect is clearly\
            \ and adequately addressed without concern, assign \"✓\".\n7. Do not invent\
            \ facts, marks, or footnotes not grounded in the evidence.\n8. Keep remarks\
            \ separate from footnotes.\n9. If multiple aspects share the same reviewer\
            \ concern, explicitly state that the same footnote number should be reused.\n\
            10. Footnote numbering must follow first appearance in table-column order.\n\
            \nYour output must be written in English only.\nDo not output JSON.\n\
            Do not output Markdown code fences.\nDo not output freeform narrative\
            \ without structure.\n\nYou must output using exactly these section headings:\n\
            \nDocument Identification\nDecision Policy\nRow Decision Summary\nColumn\
            \ Decisions\nFootnote Drafts\nRemarks Candidate\nCross-Column Consistency\
            \ Checks\nStructured Extraction Hints\n\nSection requirements:\n\nDocument\
            \ Identification\n- Identify the apparent proposal/document label, proponent/state,\
            \ measure name, and table type if visible.\n\nDecision Policy\n- Briefly\
            \ state that this is an approval-conclusion assessment.\n- State that\
            \ non-document / non-remarks cells should be marks only in the downstream\
            \ table.\n\nRow Decision Summary\nFor each visible/relevant row, write:\n\
            Row Label:\nApparent Document/Proponent:\nApparent Remarks/Context:\n\
            Overall Review Posture:\nGeneral Reliability of Decision:\n\nColumn Decisions\n\
            - Assess every target table aspect one by one, in exactly the order supplied\
            \ by the user.\n- For each aspect, use exactly this mini-format:\n\nAspect:\n\
            Final Mark:\nJudgement Basis:\nFootnote Needed:\nFootnote Draft:\n\nRules\
            \ for this mini-format:\n- \"Final Mark\" must be exactly one of:\n  -\
            \ \"✓\"\n  - \"N/A\"\n  - \"U1\", \"U2\", \"U3\", ...\n- \"Judgement Basis\"\
            \ must be short and decision-oriented.\n- \"Footnote Needed\" must be:\n\
            \  - \"No\" for \"✓\" and \"N/A\"\n  - \"Yes\" for any \"Un\"\n- \"Footnote\
            \ Draft\" must be:\n  - \"None.\" for \"✓\" and \"N/A\"\n  - one concise\
            \ reviewer conclusion sentence for any \"Un\"\n- If an aspect is not mentioned,\
            \ use \"N/A\", not \"Un\".\n- If an aspect is mentioned and problematic\
            \ or unclear, use \"Un\", not \"N/A\".\n- If an aspect is clearly addressed\
            \ and acceptable, use \"✓\".\n\nFootnote Drafts\n- List all distinct reviewer\
            \ footnotes that should appear in the downstream table.\n- Number footnotes\
            \ in the order of first appearance following the table aspect order supplied\
            \ by the user.\n- If later aspects have the same concern, reuse the same\
            \ footnote number.\n- Keep footnotes concise, formal, and table-ready.\n\
            \nRemarks Candidate\n- Provide only the likely content for the rightmost\
            \ Remarks column.\n- Do not place footnote text here.\n\nCross-Column\
            \ Consistency Checks\n- Highlight important inconsistencies across columns.\n\
            - Keep this section concise and review-oriented.\n\nStructured Extraction\
            \ Hints\n- Provide short downstream hints:\n  - document/document_proponent\
            \ text candidate\n  - remarks text candidate\n  - which aspects should\
            \ be marks only\n  - which aspects should carry numbered U marks\n  -\
            \ proposed footnote reuse if any\n\nImportant:\nThe downstream node will\
            \ build the final JSON table from your memo.\nSo your memo must be conclusion-first,\
            \ mark-first, and footnote-ready.\nJudgement cells are conclusion cells,\
            \ not information cells.\nThey may contain only:\n✓ / N/A / U1 / U2 /\
            \ U3 ..."
        - id: bc9cf8e9-8201-4c25-9020-6430fb73f4b0
          role: user
          text: "Current target table type:\nSHIP REPORTING SYSTEMS\n\nProduce a structured\
            \ English review memo for this table type.\n\nYou must assess the row(s)\
            \ against these table aspects in exactly this order:\n\n1. document\n\
            2. objectives\n3. demonstrated_need\n4. categories_of_ships\n5. traffic_characteristics_environment_aspects\n\
            6. geographical_coverage\n7. appropriate_chartlet\n8. content_essential_for_achieving_objectives\n\
            9. report_timing\n10. information_to_be_provided_to_ships_procedures\n\
            11. communication_requirements\n12. rules_and_regulations_in_force\n13.\
            \ shore_based_facilities\n14. existing_measures_why_inadequate\n15. backup_procedures\n\
            16. emergency_plan\n17. measures_for_non_compliance\n18. implementation_date\n\
            19. correct_reporting_format\n20. reference_to_relevant_data_exchange_standard\n\
            21. cyber_risk_management_guidelines\n22. automated_ship_reporting_by_electronic_means\n\
            23. adherence_to_res_a851_20\n24. draft_text_for_resolution\n25. adherence_to_other_applicable_guidelines\n\
            26. remarks\n\nWhen writing the \"Column Decisions\" section, use the\
            \ exact aspect names above.\n\nPay particular attention to:\n- whether\
            \ the objective is clearly aligned with the reporting content;\n- whether\
            \ the categories of ships are properly specified;\n- whether reporting\
            \ timing and reporting content are adequately supported;\n- whether communication,\
            \ shore-based facilities, and backup arrangements are clear;\n- whether\
            \ existing measures are explained and shown to be inadequate;\n- whether\
            \ emergency and non-compliance arrangements are adequately addressed;\n\
            - whether the implementation date, reporting format, and data-exchange\
            \ standard are clearly supported;\n- whether cyber-risk and automated\
            \ reporting issues are addressed;\n- whether draft resolution text and\
            \ guideline adherence are visible or clearly missing.\n\nAdditional mandatory\
            \ rules for this node:\n1. This is an approval-conclusion table.\n2. Except\
            \ for document and remarks, every downstream table cell must be a mark\
            \ only.\n3. The only allowed final marks are:\n   ✓\n   N/A\n   U1, U2,\
            \ U3, ...\n4. Use \"✓\" only when the aspect is explicitly addressed and\
            \ clearly acceptable without review concern.\n5. Use \"N/A\" when the\
            \ aspect is not mentioned.\n6. Use \"U1\", \"U2\", \"U3\", ... when the\
            \ aspect is mentioned but unclear, insufficient, inconsistent, unsupported,\
            \ or otherwise problematic.\n7. Do not use bare \"U\".\n8. Do not use\
            \ \"✓1\".\n9. Do not use \"-\".\n10. Do not use empty string \"\".\n11.\
            \ Every \"Un\" must have a footnote draft.\n12. Footnote numbers must\
            \ increase in the order of first appearance following the table aspect\
            \ order.\n13. If the same reviewer concern applies to multiple aspects,\
            \ reuse the same footnote number.\n14. Footnote Draft must be a concise\
            \ reviewer conclusion sentence suitable for placement below the table.\n\
            15. Do not place descriptive summaries into future table cells.\n\nIf\
            \ the subtitle is not visible, do not force one.\nIf remarks are visible,\
            \ keep them only in the \"Remarks Candidate\" section and in the row-level\
            \ review context.\n\nInput context:\n\n[Extracted document text]\n{{#1774943864283.text#}}\n\
            \n[PDF page images or page-image-derived content]\n{{#1775705579726.files#}}\n\
            \n[Knowledge retrieval result]\n{{#context#}}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties: {}
            required: []
            type: object
        structured_output_enabled: false
        title: Conclusion Analyst 1
        type: llm
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: true
      height: 88
      id: llm
      position:
        x: 1094.670651871525
        y: 524.2491684554163
      positionAbsolute:
        x: 1094.670651871525
        y: 524.2491684554163
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1775613074009.text#}}

          {{#1775613074009.files#}}

          {{#1775612030587.text#}}

          {{#1775612030587.files#}}

          {{#1775611776379.text#}}

          {{#1775611776379.files#}}'
        selected: false
        title: output
        type: answer
        variables: []
      height: 198
      id: answer
      position:
        x: 2366.7973667477927
        y: 644.2335402103564
      positionAbsolute:
        x: 2366.7973667477927
        y: 644.2335402103564
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c90014aa-bd4e-462b-a40d-e480e2a6f25f
            value: SHIP REPORTING SYSTEMS
            varType: string
            variable_selector:
            - '1774924610151'
            - mission
          id: 'true'
          logical_operator: and
        - case_id: 9fa029f2-b199-485f-8671-3304365c64a6
          conditions:
          - comparison_operator: is
            id: af5df49f-11c9-4508-af2b-4371730d050f
            value: SHIP ROUTEING SYSTEMS
            varType: string
            variable_selector:
            - '1774924610151'
            - mission
          id: 9fa029f2-b199-485f-8671-3304365c64a6
          logical_operator: and
        - case_id: 7bfbc931-bcc0-4f73-bf90-945992d84e55
          conditions:
          - comparison_operator: is
            id: fa3b64d9-68b9-4a73-9279-6d0fcfc30501
            value: TRAFFIC SEPARATION SCHEMES
            varType: string
            variable_selector:
            - '1774924610151'
            - mission
          id: 7bfbc931-bcc0-4f73-bf90-945992d84e55
          logical_operator: and
        selected: false
        title: if
        type: if-else
      height: 220
      id: '1774943607626'
      position:
        x: 231.2410256512207
        y: 565.816094397799
      positionAbsolute:
        x: 231.2410256512207
        y: 565.816094397799
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids: []
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: netease-youdao/bce-reranker-base_v1
            provider: langgenius/siliconflow/siliconflow
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774943871082'
        - text
        retrieval_mode: multiple
        selected: false
        title: knowledge base 1
        type: knowledge-retrieval
      height: 90
      id: '1774943855472'
      position:
        x: 808.7787723991121
        y: 524.2491684554163
      positionAbsolute:
        x: 808.7787723991121
        y: 524.2491684554163
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: Document Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1774943864283'
      position:
        x: 231.2410256512207
        y: 356.24885760608765
      positionAbsolute:
        x: 231.2410256512207
        y: 356.24885760608765
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 987ba558-3ccc-427a-b277-845a4c1b7ced
          role: system
          text: 'You are an "IMO Ship Reporting System Retrieval Keyword Builder".


            Your only task:

            Read the extracted proposal text and output pure-text English retrieval
            keywords and short search phrases that maximize the chance of hitting
            the governing or directly relevant IMO resolution(s), circular(s), regulation
            text, guidance documents, and previously adopted ship reporting system
            documents in the downstream knowledge base.


            This is NOT a summary task.

            This is NOT a review task.

            This is NOT an issue-writing task.


            Target branch:

            SHIP REPORTING SYSTEMS


            Main objective:

            Output the most retrieval-effective pure-text search anchors for a ship
            reporting system proposal or amendment.


            Priority orientation:

            Prioritize wording related to:

            - SOLAS chapter V regulation 11

            - ship reporting systems

            - mandatory ship reporting system

            - recommendatory ship reporting system

            - guidelines and criteria for ship reporting systems

            - general principles for ship reporting systems and ship reporting requirements

            - reporting format and procedures

            - previously adopted reporting-system resolutions

            - draft MSC resolution wording

            - amendments to existing ship reporting systems


            Extraction priority:

            1. Exact official references explicitly cited in the source text

            2. Official title fragments likely to appear in IMO resolutions, circulars,
            annex headings, and draft resolution headings

            3. Canonical IMO normative terms used in ship reporting system instruments

            4. Proposal-specific names or local details only if they help identify
            a specific adopted reporting system


            You should strongly prefer:

            - SOLAS regulation V/11

            - MSC.433(98)

            - A.851(20)

            - MSC.1/Circ.1060

            - mandatory ship reporting system

            - ship reporting systems

            - reporting format and procedures

            - categories of ships

            - geographical coverage

            - reference chart

            - format and content of reports

            - times and geographical positions for submitting reports

            - shore-based authority

            - communication requirements

            - rules and regulations in force

            - shore-based facilities

            - measures used to date

            - procedures if communication facilities fail

            - emergency plans

            - measures for non-compliance

            - effective date

            - draft MSC resolution


            Output rules:

            1. Output English only.

            2. Output plain text only.

            3. Do not output JSON.

            4. Do not output Markdown.

            5. Do not output explanations.

            6. Do not output headings.

            7. Do not output full sentences unless they are short official title fragments.

            8. Output one keyword or short search phrase per line.

            9. Put the strongest governing-document anchors first.

            10. Prefer short lexical queries of 2 to 8 words.

            11. Preserve official document numbers exactly when present.

            12. Do not let local place names, communication channels, or operational
            details dominate the output unless they are essential for identifying
            a specific adopted reporting system.

            13. Do not output narrative issue statements such as missing justification
            or unclear implementation arrangements.


            Recommended content mix:

            - first 5 to 10 lines: exact official references and official title fragments

            - next 10 to 20 lines: canonical normative terms and short family-match
            queries

            - last 5 to 10 lines: proposal-specific bridge terms only if useful for
            disambiguation


            Input:

            [Extracted proposal text]

            {{#1774943864283.text#}}


            Output plain text keywords only.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              critical_terms:
                items:
                  type: string
                type: array
              document_profile:
                additionalProperties: false
                properties:
                  chart_references:
                    items:
                      type: string
                    type: array
                  geographical_area:
                    type: string
                  measure_name:
                    type: string
                  measure_type:
                    type: string
                  proponent:
                    type: string
                  proposal_id:
                    type: string
                  standards_or_guidelines:
                    items:
                      type: string
                    type: array
                  states_or_authorities:
                    items:
                      type: string
                    type: array
                required:
                - proposal_id
                - proponent
                - measure_name
                - measure_type
                - geographical_area
                - states_or_authorities
                - chart_references
                - standards_or_guidelines
                type: object
              high_precision_queries:
                items:
                  type: string
                type: array
              high_recall_queries:
                items:
                  type: string
                type: array
              issue_focused_queries:
                items:
                  type: string
                type: array
              named_entities:
                items:
                  type: string
                type: array
              potential_issue_signals:
                items:
                  type: string
                type: array
              retrieval_notes:
                type: string
            required:
            - document_profile
            - high_precision_queries
            - high_recall_queries
            - issue_focused_queries
            - named_entities
            - critical_terms
            - potential_issue_signals
            - retrieval_notes
            type: object
        structured_output_enabled: false
        title: Keyword Builder 1
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774943871082'
      position:
        x: 532.9506917774523
        y: 524.2491684554163
      positionAbsolute:
        x: 532.9506917774523
        y: 524.2491684554163
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids: []
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: netease-youdao/bce-reranker-base_v1
            provider: langgenius/siliconflow/siliconflow
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1775630545080'
        - text
        retrieval_mode: multiple
        selected: false
        title: knowledge base 2
        type: knowledge-retrieval
      height: 90
      id: '1774944313161'
      position:
        x: 808.7787723991121
        y: 624.8590102399586
      positionAbsolute:
        x: 808.7787723991121
        y: 624.8590102399586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids: []
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: netease-youdao/bce-reranker-base_v1
            provider: langgenius/siliconflow/siliconflow
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1775630788392'
        - text
        retrieval_mode: multiple
        selected: false
        title: knowledge base 3
        type: knowledge-retrieval
      height: 90
      id: '1774944315756'
      position:
        x: 808.7787723991121
        y: 728.1078678460466
      positionAbsolute:
        x: 808.7787723991121
        y: 728.1078678460466
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - llm
          - text
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e2a1288a-c00a-41bd-89fb-7413e984875e
          role: system
          text: 'You are an "IMO/NCSR Approval Conclusion JSON Structurer".


            Your only task is:

            Convert the approval-conclusion memo produced by the upstream review node
            into one strict, valid, directly parseable JSON object.


            This node is a pure structuring node.

            It is NOT a review node.

            It is NOT an extraction node.

            It is NOT a reasoning node.


            You must NOT make any new judgments.

            You must NOT consult the source document again.

            You must NOT consult knowledge retrieval again.

            You must rely only on the approval-conclusion memo provided in the input.


            Core operating rule:

            The upstream memo already contains the final reviewer decisions.

            Your job is only to reorganize them into the required JSON schema.


            Highest-priority rules:

            1. Output exactly one valid JSON object.

            2. Do not output anything other than JSON.

            3. Do not output Markdown, code fences, explanations, comments, introductions,
            or summaries.

            4. All field names must use double quotes.

            5. All string values must use double quotes.

            6. Do not use trailing commas.

            7. Do not invent facts, marks, footnotes, remarks, titles, subtitles,
            or row values.

            8. If the approval-conclusion memo does not provide a value for a text
            field, use "".

            9. Preserve the exact final mark stated in the memo whenever possible.

            10. Preserve footnote numbering exactly as stated in the memo whenever
            possible.


            Critical structuring rule:

            This is a reviewer conclusion table.

            Except for:

            - document / document_proponent

            - remarks

            - title

            - subtitle

            all other row fields are judgment cells and must contain marks only.


            Allowed judgment-cell values:

            - "✓"

            - "N/A"

            - "U1", "U2", "U3", ...


            Forbidden judgment-cell values:

            - "U"

            - "✓1"

            - "-"

            - ""

            - descriptive text

            - evidence summaries

            - copied source content

            - reviewer reasoning


            Meaning of the allowed values:

            - "✓" = explicitly addressed and acceptable without review concern

            - "N/A" = not mentioned

            - "Un" = mentioned, but unclear, insufficient, inconsistent, unsupported,
            or otherwise problematic, with reviewer footnote n


            Footnote rules:

            1. Every "Un" must correspond to one footnote item whose "id" is "n".

            2. Footnotes must contain concise reviewer conclusion text only.

            3. Do not rewrite footnotes into evidence summaries.

            4. If the memo clearly says that multiple aspects reuse the same footnote,
            preserve that reuse.

            5. Remove any footnote not referenced by a "Un" mark.

            6. Keep footnote numbering exactly as already determined by the upstream
            memo.

            7. Do not renumber unless the upstream memo is internally inconsistent.


            Text field rules:

            - document / document_proponent: short row label only

            - remarks: only the final Remarks-column content or concise row context
            stated in the memo

            - do not place footnote text into remarks

            - do not place remarks into footnotes


            Row rules:

            1. Preserve every row identified in the upstream memo.

            2. If only one row is identified, output one row.

            3. Do not merge rows.

            4. Do not split one row into multiple rows unless the upstream memo explicitly
            indicates multiple rows.


            Missing-information rule:

            - For text fields: use "" if the memo does not provide a value.

            - For judgment fields: do not invent a mark.

            - If the memo is incomplete for a judgment field, copy the most conservative
            explicit value from the memo only.

            - Do not infer from outside evidence.


            Title/subtitle rule:

            - Follow the exact fixed structure requested by the user prompt.

            - If the user prompt allows blank subtitle and the memo does not clearly
            provide one, output "".


            This node must be conservative:

            If the memo is incomplete, preserve that incompleteness in the JSON rather
            than making a new judgment.'
        - id: 1e2e17e1-f0bb-482c-9294-6a5c060cbba8
          role: user
          text: "Current target table type:\nSHIP REPORTING SYSTEMS\n\nYou must output\
            \ JSON with exactly the following structure.\nDo not add fields.\nDo not\
            \ remove fields.\nDo not rename fields.\n\n{\n  \"table_type\": \"ship_reporting_systems\"\
            ,\n  \"title\": \"ANNEX\",\n  \"subtitle\": \"SHIP REPORTING SYSTEMS\"\
            ,\n  \"column_order\": [\n    \"document\",\n    \"objectives\",\n   \
            \ \"demonstrated_need\",\n    \"categories_of_ships\",\n    \"traffic_characteristics_environment_aspects\"\
            ,\n    \"geographical_coverage\",\n    \"appropriate_chartlet\",\n   \
            \ \"content_essential_for_achieving_objectives\",\n    \"report_timing\"\
            ,\n    \"information_to_be_provided_to_ships_procedures\",\n    \"communication_requirements\"\
            ,\n    \"rules_and_regulations_in_force\",\n    \"shore_based_facilities\"\
            ,\n    \"existing_measures_why_inadequate\",\n    \"backup_procedures\"\
            ,\n    \"emergency_plan\",\n    \"measures_for_non_compliance\",\n   \
            \ \"implementation_date\",\n    \"correct_reporting_format\",\n    \"\
            reference_to_relevant_data_exchange_standard\",\n    \"cyber_risk_management_guidelines\"\
            ,\n    \"automated_ship_reporting_by_electronic_means\",\n    \"adherence_to_res_a851_20\"\
            ,\n    \"draft_text_for_resolution\",\n    \"adherence_to_other_applicable_guidelines\"\
            ,\n    \"remarks\"\n  ],\n  \"rows\": [\n    {\n      \"document\": \"\
            \",\n      \"objectives\": \"\",\n      \"demonstrated_need\": \"\",\n\
            \      \"categories_of_ships\": \"\",\n      \"traffic_characteristics_environment_aspects\"\
            : \"\",\n      \"geographical_coverage\": \"\",\n      \"appropriate_chartlet\"\
            : \"\",\n      \"content_essential_for_achieving_objectives\": \"\",\n\
            \      \"report_timing\": \"\",\n      \"information_to_be_provided_to_ships_procedures\"\
            : \"\",\n      \"communication_requirements\": \"\",\n      \"rules_and_regulations_in_force\"\
            : \"\",\n      \"shore_based_facilities\": \"\",\n      \"existing_measures_why_inadequate\"\
            : \"\",\n      \"backup_procedures\": \"\",\n      \"emergency_plan\"\
            : \"\",\n      \"measures_for_non_compliance\": \"\",\n      \"implementation_date\"\
            : \"\",\n      \"correct_reporting_format\": \"\",\n      \"reference_to_relevant_data_exchange_standard\"\
            : \"\",\n      \"cyber_risk_management_guidelines\": \"\",\n      \"automated_ship_reporting_by_electronic_means\"\
            : \"\",\n      \"adherence_to_res_a851_20\": \"\",\n      \"draft_text_for_resolution\"\
            : \"\",\n      \"adherence_to_other_applicable_guidelines\": \"\",\n \
            \     \"remarks\": \"\"\n    }\n  ],\n  \"footnotes\": [\n    {\n    \
            \  \"id\": \"\",\n      \"text\": \"\"\n    }\n  ]\n}\n\nAdditional mandatory\
            \ rules:\n1. This is a pure structuring step.\n2. Use only the approval-conclusion\
            \ memo as the source of truth.\n3. Do not make any new judgment.\n4. Except\
            \ for \"document\" and \"remarks\", every row field must contain marks\
            \ only.\n5. The only allowed judgment-cell values are:\n   \"✓\"\n   \"\
            N/A\"\n   \"U1\", \"U2\", \"U3\", ...\n6. Never place factual summaries,\
            \ evidence, or reasoning text into judgment cells.\n7. If a \"Un\" mark\
            \ appears in a row cell, there must be one corresponding footnote with\
            \ id \"n\".\n8. Preserve footnote reuse exactly as indicated by the memo.\n\
            9. Footnotes must contain concise reviewer conclusion text only.\n10.\
            \ remarks must contain only the final Remarks-column content, never footnotes.\n\
            11. If the memo does not clearly provide subtitle text beyond the fixed\
            \ title logic, keep:\n   \"subtitle\": \"SHIP REPORTING SYSTEMS\"\n12.\
            \ Preserve every row identified in the memo.\n\nInput context:\n\n[Analysis\
            \ result]\n{{#context#}}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              column_order:
                items:
                  enum:
                  - document
                  - objectives
                  - demonstrated_need
                  - categories_of_ships
                  - traffic_characteristics_environment_aspects
                  - geographical_coverage
                  - appropriate_chartlet
                  - content_essential_for_achieving_objectives
                  - report_timing
                  - information_to_be_provided_to_ships_procedures
                  - communication_requirements
                  - rules_and_regulations_in_force
                  - shore_based_facilities
                  - existing_measures_why_inadequate
                  - backup_procedures
                  - emergency_plan
                  - measures_for_non_compliance
                  - implementation_date
                  - correct_reporting_format
                  - reference_to_relevant_data_exchange_standard
                  - cyber_risk_management_guidelines
                  - automated_ship_reporting_by_electronic_means
                  - adherence_to_res_a851_20
                  - draft_text_for_resolution
                  - adherence_to_other_applicable_guidelines
                  - remarks
                  type: string
                type: array
              footnotes:
                items:
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    text:
                      type: string
                  required:
                  - id
                  - text
                  type: object
                type: array
              rows:
                items:
                  additionalProperties: false
                  properties:
                    adherence_to_other_applicable_guidelines:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    adherence_to_res_a851_20:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    appropriate_chartlet:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    automated_ship_reporting_by_electronic_means:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    backup_procedures:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    categories_of_ships:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    communication_requirements:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    content_essential_for_achieving_objectives:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    correct_reporting_format:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    cyber_risk_management_guidelines:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    demonstrated_need:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    document:
                      type: string
                    draft_text_for_resolution:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    emergency_plan:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    existing_measures_why_inadequate:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    geographical_coverage:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    implementation_date:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    information_to_be_provided_to_ships_procedures:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    measures_for_non_compliance:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    objectives:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    reference_to_relevant_data_exchange_standard:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    remarks:
                      type: string
                    report_timing:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    rules_and_regulations_in_force:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    shore_based_facilities:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    traffic_characteristics_environment_aspects:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                  required:
                  - document
                  - objectives
                  - demonstrated_need
                  - categories_of_ships
                  - traffic_characteristics_environment_aspects
                  - geographical_coverage
                  - appropriate_chartlet
                  - content_essential_for_achieving_objectives
                  - report_timing
                  - information_to_be_provided_to_ships_procedures
                  - communication_requirements
                  - rules_and_regulations_in_force
                  - shore_based_facilities
                  - existing_measures_why_inadequate
                  - backup_procedures
                  - emergency_plan
                  - measures_for_non_compliance
                  - implementation_date
                  - correct_reporting_format
                  - reference_to_relevant_data_exchange_standard
                  - cyber_risk_management_guidelines
                  - automated_ship_reporting_by_electronic_means
                  - adherence_to_res_a851_20
                  - draft_text_for_resolution
                  - adherence_to_other_applicable_guidelines
                  - remarks
                  type: object
                type: array
              subtitle:
                type: string
              table_type:
                const: ship_reporting_systems
                type: string
              title:
                type: string
            required:
            - table_type
            - title
            - subtitle
            - column_order
            - rows
            - footnotes
            type: object
        structured_output_enabled: true
        title: JSON Structurer 1
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774945225542'
      position:
        x: 1407.461100722311
        y: 524.2491684554163
      positionAbsolute:
        x: 1407.461100722311
        y: 524.2491684554163
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\nfrom typing import Any, Dict, List\n\n\nALLOWED_MARK_RE\
          \ = re.compile(r\"^(✓|N/A|U[1-9]\\d*)$\")\n\n\ndef parse_input(data: Any)\
          \ -> Dict[str, Any]:\n    if isinstance(data, dict):\n        return data\n\
          \    if isinstance(data, str):\n        data = data.strip()\n        if\
          \ not data:\n            return {}\n        return json.loads(data)\n  \
          \  raise ValueError(\"structured_json must be a JSON string or dict\")\n\
          \n\ndef s(value: Any) -> str:\n    return \"\" if value is None else str(value).strip()\n\
          \n\ndef normalize_text(value: Any) -> str:\n    text = s(value)\n    return\
          \ text\n\n\ndef normalize_mark(value: Any, field_name: str) -> Any:\n  \
          \  text = s(value)\n\n    if text == \"√\":\n        text = \"✓\"\n\n  \
          \  if not text:\n        raise ValueError(f\"Judgement cell '{field_name}'\
          \ is empty. Allowed values: ✓ / N/A / U1, U2, ...\")\n\n    if not ALLOWED_MARK_RE.match(text):\n\
          \        raise ValueError(\n            f\"Invalid judgement mark in '{field_name}':\
          \ {text}. \"\n            \"Allowed values: ✓ / N/A / U1, U2, ...\"\n  \
          \      )\n\n    m = re.match(r\"^U([1-9]\\d*)$\", text)\n    if m:\n   \
          \     return {\n            \"symbol\": \"U\",\n            \"footnote_ref\"\
          : m.group(1),\n            \"display\": text\n        }\n\n    return text\n\
          \n\ndef clean_issue_text(text: Any) -> str:\n    return s(text)\n\n\ndef\
          \ extract_issues(data: Dict[str, Any]) -> List[str]:\n    issues: List[str]\
          \ = []\n    used_ids = set()\n\n    for item in data.get(\"footnotes\",\
          \ []) or []:\n        if not isinstance(item, dict):\n            continue\n\
          \        fid = s(item.get(\"id\"))\n        txt = clean_issue_text(item.get(\"\
          text\"))\n        if not fid or not txt:\n            continue\n       \
          \ if fid in used_ids:\n            continue\n        used_ids.add(fid)\n\
          \        issues.append(txt)\n\n    return issues\n\n\ndef main(structured_json:\
          \ Any) -> Dict[str, Any]:\n    data = parse_input(structured_json)\n   \
          \ rows = data.get(\"rows\", []) or []\n    row = rows[0] if rows else {}\n\
          \n    field_map = {\n        \"objectives\": \"objectives_cell\",\n    \
          \    \"demonstrated_need\": \"demonstrated_need_cell\",\n        \"categories_of_ships\"\
          : \"categories_of_ships_cell\",\n        \"traffic_characteristics_environment_aspects\"\
          : \"traffic_characteristics_cell\",\n        \"geographical_coverage\":\
          \ \"geographical_coverage_cell\",\n        \"appropriate_chartlet\": \"\
          appropriate_chartlet_cell\",\n        \"content_essential_for_achieving_objectives\"\
          : \"content_essential_cell\",\n        \"report_timing\": \"report_timing_cell\"\
          ,\n        \"information_to_be_provided_to_ships_procedures\": \"information_to_be_provided_cell\"\
          ,\n        \"communication_requirements\": \"communication_requirements_cell\"\
          ,\n        \"rules_and_regulations_in_force\": \"rules_and_regulations_cell\"\
          ,\n        \"shore_based_facilities\": \"shore_based_facilities_cell\",\n\
          \        \"existing_measures_why_inadequate\": \"existing_measures_cell\"\
          ,\n        \"backup_procedures\": \"backup_procedures_cell\",\n        \"\
          emergency_plan\": \"emergency_plan_cell\",\n        \"measures_for_non_compliance\"\
          : \"non_compliance_cell\",\n        \"implementation_date\": \"implementation_date_cell\"\
          ,\n        \"correct_reporting_format\": \"correct_reporting_format_cell\"\
          ,\n        \"reference_to_relevant_data_exchange_standard\": \"data_exchange_standard_cell\"\
          ,\n        \"cyber_risk_management_guidelines\": \"cyber_risk_cell\",\n\
          \        \"automated_ship_reporting_by_electronic_means\": \"automated_reporting_cell\"\
          ,\n        \"adherence_to_res_a851_20\": \"res_a851_20_cell\",\n       \
          \ \"draft_text_for_resolution\": \"draft_text_cell\",\n        \"adherence_to_other_applicable_guidelines\"\
          : \"other_guidelines_cell\"\n    }\n\n    named_cells = {\n        \"title_cell\"\
          : normalize_text(data.get(\"title\")),\n        \"subtitle_cell\": normalize_text(data.get(\"\
          subtitle\")),\n        \"document_label_cell\": normalize_text(row.get(\"\
          document\")),\n        \"context_description_cell\": normalize_text(row.get(\"\
          remarks\"))\n    }\n\n    for src_key, target_name in field_map.items():\n\
          \        named_cells[target_name] = normalize_mark(row.get(src_key), src_key)\n\
          \n    payload = {\n        \"named_cells\": named_cells,\n        \"issues\"\
          : extract_issues(data),\n        \"output_filename\": \"ship_reporting_systems_result\"\
          \n    }\n\n    return {\n        \"payload_json\": json.dumps(payload, ensure_ascii=False),\n\
          \        \"builtin_template_key\": \"ship_reporting_systems\",\n       \
          \ \"document_label\": normalize_text(row.get(\"document\")),\n        \"\
          issue_count\": len(payload[\"issues\"])\n    }"
        code_language: python3
        outputs:
          builtin_template_key:
            children: null
            type: string
          document_label:
            children: null
            type: string
          issue_count:
            children: null
            type: number
          payload_json:
            children: null
            type: string
        selected: false
        title: CODE 1
        type: code
        variables:
        - value_selector:
          - '1774945225542'
          - structured_output
          value_type: object
          variable: structured_json
      height: 52
      id: '1775554624107'
      position:
        x: 1714.0558941422992
        y: 524.2491684554163
      positionAbsolute:
        x: 1714.0558941422992
        y: 524.2491684554163
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774944313161'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}


            {{#1774944313161.result#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: zai-org/GLM-4.6V
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 0c2bb321-40c5-4e7d-ae08-aaf4d3d8d89a
          role: system
          text: "You are an \"IMO/NCSR Approval Conclusion Analyst\".\n\nYour task\
            \ is NOT to reconstruct a source table.\nYour task is NOT to extract raw\
            \ key information into table cells.\nYour task is NOT to output JSON.\n\
            \nYour only task is:\nRead the source document, PDF page images, and knowledge\
            \ retrieval results, then produce a decision-oriented review memo for\
            \ a downstream approval-table node.\n\nThis is an approval-conclusion\
            \ task.\nThe downstream table is a reviewer decision table, not a source-information\
            \ table.\n\nEvidence priority:\n1. First priority: PDF page images and\
            \ visually captured content.\n2. Second priority: extracted document text.\n\
            3. Third priority: knowledge retrieval results.\n\nIf extracted text conflicts\
            \ with page-image content, follow the page-image content.\nIf knowledge\
            \ retrieval conflicts with the source document, follow the source document.\n\
            \nCore decision semantics:\n- \"✓\" = the aspect is explicitly addressed\
            \ in the proposal and appears clear, adequate, and free of review concern.\n\
            - \"N/A\" = the aspect is not mentioned or not evidenced in the proposal.\n\
            - \"Un\" = the aspect is mentioned, but there is a reviewer concern, ambiguity,\
            \ insufficiency, inconsistency, or other problem that should be explained\
            \ in footnote n.\n\nImportant interpretation rule:\n- Do NOT use bare\
            \ \"U\".\n- Do NOT use \"✓n\".\n- Do NOT use \"-\".\n- Do NOT use empty\
            \ string \"\".\n- If clearly addressed without issue, use \"✓\".\n- If\
            \ not mentioned, use \"N/A\".\n- If mentioned but problematic or unclear,\
            \ use \"Un\".\n\nMandatory discipline:\n1. You must think like a reviewer\
            \ filling an approval conclusion table, not like an extractor copying\
            \ source facts.\n2. Except for document/document_proponent and remarks,\
            \ the final table cells must be marks only.\n3. Narrative content belongs\
            \ only in footnotes, remarks, and reasoning sections of this memo.\n4.\
            \ If an aspect is mentioned and has any review concern, ambiguity, insufficiency,\
            \ inconsistency, or qualification, assign \"Un\" with a footnote.\n5.\
            \ If an aspect is not mentioned, assign \"N/A\".\n6. If an aspect is clearly\
            \ and adequately addressed without concern, assign \"✓\".\n7. Do not invent\
            \ facts, marks, or footnotes not grounded in the evidence.\n8. Keep remarks\
            \ separate from footnotes.\n9. If multiple aspects share the same reviewer\
            \ concern, explicitly state that the same footnote number should be reused.\n\
            10. Footnote numbering must follow first appearance in table-column order.\n\
            \nYour output must be written in English only.\nDo not output JSON.\n\
            Do not output Markdown code fences.\nDo not output freeform narrative\
            \ without structure.\n\nYou must output using exactly these section headings:\n\
            \nDocument Identification\nDecision Policy\nRow Decision Summary\nColumn\
            \ Decisions\nFootnote Drafts\nRemarks Candidate\nCross-Column Consistency\
            \ Checks\nStructured Extraction Hints\n\nSection requirements:\n\nDocument\
            \ Identification\n- Identify the apparent proposal/document label, proponent/state,\
            \ measure name, and table type if visible.\n\nDecision Policy\n- Briefly\
            \ state that this is an approval-conclusion assessment.\n- State that\
            \ non-document / non-remarks cells should be marks only in the downstream\
            \ table.\n\nRow Decision Summary\nFor each visible/relevant row, write:\n\
            Row Label:\nApparent Document/Proponent:\nApparent Remarks/Context:\n\
            Overall Review Posture:\nGeneral Reliability of Decision:\n\nColumn Decisions\n\
            - Assess every target table aspect one by one, in exactly the order supplied\
            \ by the user.\n- For each aspect, use exactly this mini-format:\n\nAspect:\n\
            Final Mark:\nJudgement Basis:\nFootnote Needed:\nFootnote Draft:\n\nRules\
            \ for this mini-format:\n- \"Final Mark\" must be exactly one of:\n  -\
            \ \"✓\"\n  - \"N/A\"\n  - \"U1\", \"U2\", \"U3\", ...\n- \"Judgement Basis\"\
            \ must be short and decision-oriented.\n- \"Footnote Needed\" must be:\n\
            \  - \"No\" for \"✓\" and \"N/A\"\n  - \"Yes\" for any \"Un\"\n- \"Footnote\
            \ Draft\" must be:\n  - \"None.\" for \"✓\" and \"N/A\"\n  - one concise\
            \ reviewer conclusion sentence for any \"Un\"\n- If an aspect is not mentioned,\
            \ use \"N/A\", not \"Un\".\n- If an aspect is mentioned and problematic\
            \ or unclear, use \"Un\", not \"N/A\".\n- If an aspect is clearly addressed\
            \ and acceptable, use \"✓\".\n\nFootnote Drafts\n- List all distinct reviewer\
            \ footnotes that should appear in the downstream table.\n- Number footnotes\
            \ in the order of first appearance following the table aspect order supplied\
            \ by the user.\n- If later aspects have the same concern, reuse the same\
            \ footnote number.\n- Keep footnotes concise, formal, and table-ready.\n\
            \nRemarks Candidate\n- Provide only the likely content for the rightmost\
            \ Remarks column.\n- Do not place footnote text here.\n\nCross-Column\
            \ Consistency Checks\n- Highlight important inconsistencies across columns.\n\
            - Keep this section concise and review-oriented.\n\nStructured Extraction\
            \ Hints\n- Provide short downstream hints:\n  - document/document_proponent\
            \ text candidate\n  - remarks text candidate\n  - which aspects should\
            \ be marks only\n  - which aspects should carry numbered U marks\n  -\
            \ proposed footnote reuse if any\n\nImportant:\nThe downstream node will\
            \ build the final JSON table from your memo.\nSo your memo must be conclusion-first,\
            \ mark-first, and footnote-ready.\nJudgement cells are conclusion cells,\
            \ not information cells.\nThey may contain only:\n✓ / N/A / U1 / U2 /\
            \ U3 ..."
        - id: 568c4ed8-0346-4bad-8253-4d8e2665a44c
          role: user
          text: "Current target table type:\nPROPOSED SHIP ROUTEING SYSTEMS\n\nProduce\
            \ a structured English review memo for this table type.\n\nYou must assess\
            \ the row(s) against these table aspects in exactly this order:\n\n1.\
            \ document_proponent\n2. objectives\n3. demonstrated_need\n4. reason_for_proposal_preferred\n\
            5. history_of_incidents\n6. applicability\n7. impact_on_shipping\n8. location_positions\n\
            9. reference_chart_details\n10. chartlet_appropriate_one\n11. cooperation_between_states\n\
            12. following_existing_traffic_patterns\n13. aids_to_navigation\n14. information_on_traffic_patterns\n\
            15. hydrographic_surveys_and_charts_adequacy\n16. alternative_measure\n\
            17. offshore_structures\n18. environmental_factors\n19. prevent_reduce_risk\n\
            20. sufficient_justification\n21. adverse_effect_to_ports_and_harbours_including_tss\n\
            22. limited_to_what_is_essential\n23. aids_or_services\n24. fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern\n\
            25. other_measures_taken\n26. consultations_with_mariners_and_other_users\n\
            27. monitoring_compliance_and_actions_taken\n28. correct_format_for_description_of_proposed_system_gpsr\n\
            29. adherence_to_other_guidance_only_if_observed_msc_1_circ_1060\n30.\
            \ remarks\n\nWhen writing the \"Column Decisions\" section, use the exact\
            \ aspect names above.\n\nPay particular attention to:\n- whether the need\
            \ and preferred proposal are sufficiently justified;\n- whether incident\
            \ history is present and relevant;\n- whether applicability and impact\
            \ on shipping are clearly supported;\n- whether location/positions, chart\
            \ references, and chartlet evidence are complete;\n- whether cooperation\
            \ between States is required and, if so, evidenced;\n- whether the proposal\
            \ follows existing traffic patterns and is supported by traffic information;\n\
            - whether hydrographic and chart adequacy are convincingly supported;\n\
            - whether alternatives are considered;\n- whether offshore structures,\
            \ environmental factors, ports, harbours, and fishing activities are adequately\
            \ addressed;\n- whether monitoring, consultation, and services are sufficiently\
            \ described;\n- whether the format of the proposed system description\
            \ appears compliant;\n- whether \"other guidance\" is actually evidenced\
            \ or should be N/A.\n\nAdditional mandatory rules for this node:\n1. This\
            \ is an approval-conclusion table.\n2. Except for document_proponent and\
            \ remarks, every downstream table cell must be a mark only.\n3. The only\
            \ allowed final marks are:\n   ✓\n   N/A\n   U1, U2, U3, ...\n4. Use \"\
            ✓\" only when the aspect is explicitly addressed and clearly acceptable\
            \ without review concern.\n5. Use \"N/A\" when the aspect is not mentioned.\n\
            6. Use \"U1\", \"U2\", \"U3\", ... when the aspect is mentioned but unclear,\
            \ insufficient, inconsistent, unsupported, or otherwise problematic.\n\
            7. Do not use bare \"U\".\n8. Do not use \"✓1\".\n9. Do not use \"-\"\
            .\n10. Do not use empty string \"\".\n11. Every \"Un\" must have a footnote\
            \ draft.\n12. Footnote numbers must increase in the order of first appearance\
            \ following the table aspect order.\n13. If the same reviewer concern\
            \ applies to multiple aspects, reuse the same footnote number.\n14. Footnote\
            \ Draft must be a concise reviewer conclusion sentence suitable for placement\
            \ below the table.\n15. Do not place descriptive summaries into future\
            \ table cells.\n\nIf the subtitle is visible, preserve its wording as\
            \ closely as possible in your discussion.\nIf remarks are visible, keep\
            \ them separate.\n\nInput context:\n\n[Extracted document text]\n{{#1774943864283.text#}}\n\
            \n[PDF page images or page-image-derived content]\n{{#1775705579726.files#}}\n\
            \n[Knowledge retrieval result]\n{{#context#}}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties: {}
            required: []
            type: object
        structured_output_enabled: false
        title: Conclusion Analyst 2
        type: llm
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: true
      height: 88
      id: '17750057679480'
      position:
        x: 1094.670651871525
        y: 644.2335402103564
      positionAbsolute:
        x: 1094.670651871525
        y: 644.2335402103564
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17750057679480'
          - text
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e2a1288a-c00a-41bd-89fb-7413e984875e
          role: system
          text: 'You are an "IMO/NCSR Approval Conclusion JSON Structurer".


            Your only task is:

            Convert the approval-conclusion memo produced by the upstream review node
            into one strict, valid, directly parseable JSON object.


            This node is a pure structuring node.

            It is NOT a review node.

            It is NOT an extraction node.

            It is NOT a reasoning node.


            You must NOT make any new judgments.

            You must NOT consult the source document again.

            You must NOT consult knowledge retrieval again.

            You must rely only on the approval-conclusion memo provided in the input.


            Core operating rule:

            The upstream memo already contains the final reviewer decisions.

            Your job is only to reorganize them into the required JSON schema.


            Highest-priority rules:

            1. Output exactly one valid JSON object.

            2. Do not output anything other than JSON.

            3. Do not output Markdown, code fences, explanations, comments, introductions,
            or summaries.

            4. All field names must use double quotes.

            5. All string values must use double quotes.

            6. Do not use trailing commas.

            7. Do not invent facts, marks, footnotes, remarks, titles, subtitles,
            or row values.

            8. If the approval-conclusion memo does not provide a value for a text
            field, use "".

            9. Preserve the exact final mark stated in the memo whenever possible.

            10. Preserve footnote numbering exactly as stated in the memo whenever
            possible.


            Critical structuring rule:

            This is a reviewer conclusion table.

            Except for:

            - document / document_proponent

            - remarks

            - title

            - subtitle

            all other row fields are judgment cells and must contain marks only.


            Allowed judgment-cell values:

            - "✓"

            - "N/A"

            - "U1", "U2", "U3", ...


            Forbidden judgment-cell values:

            - "U"

            - "✓1"

            - "-"

            - ""

            - descriptive text

            - evidence summaries

            - copied source content

            - reviewer reasoning


            Meaning of the allowed values:

            - "✓" = explicitly addressed and acceptable without review concern

            - "N/A" = not mentioned

            - "Un" = mentioned, but unclear, insufficient, inconsistent, unsupported,
            or otherwise problematic, with reviewer footnote n


            Footnote rules:

            1. Every "Un" must correspond to one footnote item whose "id" is "n".

            2. Footnotes must contain concise reviewer conclusion text only.

            3. Do not rewrite footnotes into evidence summaries.

            4. If the memo clearly says that multiple aspects reuse the same footnote,
            preserve that reuse.

            5. Remove any footnote not referenced by a "Un" mark.

            6. Keep footnote numbering exactly as already determined by the upstream
            memo.

            7. Do not renumber unless the upstream memo is internally inconsistent.


            Text field rules:

            - document / document_proponent: short row label only

            - remarks: only the final Remarks-column content or concise row context
            stated in the memo

            - do not place footnote text into remarks

            - do not place remarks into footnotes


            Row rules:

            1. Preserve every row identified in the upstream memo.

            2. If only one row is identified, output one row.

            3. Do not merge rows.

            4. Do not split one row into multiple rows unless the upstream memo explicitly
            indicates multiple rows.


            Missing-information rule:

            - For text fields: use "" if the memo does not provide a value.

            - For judgment fields: do not invent a mark.

            - If the memo is incomplete for a judgment field, copy the most conservative
            explicit value from the memo only.

            - Do not infer from outside evidence.


            Title/subtitle rule:

            - Follow the exact fixed structure requested by the user prompt.

            - If the user prompt allows blank subtitle and the memo does not clearly
            provide one, output "".


            This node must be conservative:

            If the memo is incomplete, preserve that incompleteness in the JSON rather
            than making a new judgment.'
        - id: d91a7c97-2a8f-4f6b-91e0-9084a8c3008d
          role: user
          text: "Current target table type:\nPROPOSED SHIP ROUTEING SYSTEMS\n\nYou\
            \ must output JSON with exactly the following structure.\nDo not add fields.\n\
            Do not remove fields.\nDo not rename fields.\n\n{\n  \"table_type\": \"\
            proposed_ship_routeing_systems\",\n  \"title\": \"ANNEX\",\n  \"subtitle\"\
            : \"PROPOSED SHIP ROUTEING SYSTEMS\",\n  \"column_order\": [\n    \"document_proponent\"\
            ,\n    \"objectives\",\n    \"demonstrated_need\",\n    \"reason_for_proposal_preferred\"\
            ,\n    \"history_of_incidents\",\n    \"applicability\",\n    \"impact_on_shipping\"\
            ,\n    \"location_positions\",\n    \"reference_chart_details\",\n   \
            \ \"chartlet_appropriate_one\",\n    \"cooperation_between_states\",\n\
            \    \"following_existing_traffic_patterns\",\n    \"aids_to_navigation\"\
            ,\n    \"information_on_traffic_patterns\",\n    \"hydrographic_surveys_and_charts_adequacy\"\
            ,\n    \"alternative_measure\",\n    \"offshore_structures\",\n    \"\
            environmental_factors\",\n    \"prevent_reduce_risk\",\n    \"sufficient_justification\"\
            ,\n    \"adverse_effect_to_ports_and_harbours_including_tss\",\n    \"\
            limited_to_what_is_essential\",\n    \"aids_or_services\",\n    \"fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern\"\
            ,\n    \"other_measures_taken\",\n    \"consultations_with_mariners_and_other_users\"\
            ,\n    \"monitoring_compliance_and_actions_taken\",\n    \"correct_format_for_description_of_proposed_system_gpsr\"\
            ,\n    \"adherence_to_other_guidance_only_if_observed_msc_1_circ_1060\"\
            ,\n    \"remarks\"\n  ],\n  \"rows\": [\n    {\n      \"document_proponent\"\
            : \"\",\n      \"objectives\": \"\",\n      \"demonstrated_need\": \"\"\
            ,\n      \"reason_for_proposal_preferred\": \"\",\n      \"history_of_incidents\"\
            : \"\",\n      \"applicability\": \"\",\n      \"impact_on_shipping\"\
            : \"\",\n      \"location_positions\": \"\",\n      \"reference_chart_details\"\
            : \"\",\n      \"chartlet_appropriate_one\": \"\",\n      \"cooperation_between_states\"\
            : \"\",\n      \"following_existing_traffic_patterns\": \"\",\n      \"\
            aids_to_navigation\": \"\",\n      \"information_on_traffic_patterns\"\
            : \"\",\n      \"hydrographic_surveys_and_charts_adequacy\": \"\",\n \
            \     \"alternative_measure\": \"\",\n      \"offshore_structures\": \"\
            \",\n      \"environmental_factors\": \"\",\n      \"prevent_reduce_risk\"\
            : \"\",\n      \"sufficient_justification\": \"\",\n      \"adverse_effect_to_ports_and_harbours_including_tss\"\
            : \"\",\n      \"limited_to_what_is_essential\": \"\",\n      \"aids_or_services\"\
            : \"\",\n      \"fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern\"\
            : \"\",\n      \"other_measures_taken\": \"\",\n      \"consultations_with_mariners_and_other_users\"\
            : \"\",\n      \"monitoring_compliance_and_actions_taken\": \"\",\n  \
            \    \"correct_format_for_description_of_proposed_system_gpsr\": \"\"\
            ,\n      \"adherence_to_other_guidance_only_if_observed_msc_1_circ_1060\"\
            : \"\",\n      \"remarks\": \"\"\n    }\n  ],\n  \"footnotes\": [\n  \
            \  {\n      \"id\": \"\",\n      \"text\": \"\"\n    }\n  ]\n}\n\nAdditional\
            \ mandatory rules:\n1. This is a pure structuring step.\n2. Use only the\
            \ approval-conclusion memo as the source of truth.\n3. Do not make any\
            \ new judgment.\n4. Except for \"document_proponent\" and \"remarks\"\
            , every row field must contain marks only.\n5. The only allowed judgment-cell\
            \ values are:\n   \"✓\"\n   \"N/A\"\n   \"U1\", \"U2\", \"U3\", ...\n\
            6. Never place factual summaries, evidence, or reasoning text into judgment\
            \ cells.\n7. If a \"Un\" mark appears in a row cell, there must be one\
            \ corresponding footnote with id \"n\".\n8. Preserve footnote reuse exactly\
            \ as indicated by the memo.\n9. Footnotes must contain concise reviewer\
            \ conclusion text only.\n10. remarks must contain only the final Remarks-column\
            \ content, never footnotes.\n11. If the memo does not clearly provide\
            \ subtitle text beyond the fixed title logic, keep:\n   \"subtitle\":\
            \ \"PROPOSED SHIP ROUTEING SYSTEMS\"\n12. Preserve every row identified\
            \ in the memo.\n\nInput context:\n\n[Analysis result]\n{{#context#}}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              column_order:
                items:
                  enum:
                  - document_proponent
                  - objectives
                  - demonstrated_need
                  - reason_for_proposal_preferred
                  - history_of_incidents
                  - applicability
                  - impact_on_shipping
                  - location_positions
                  - reference_chart_details
                  - chartlet_appropriate_one
                  - cooperation_between_states
                  - following_existing_traffic_patterns
                  - aids_to_navigation
                  - information_on_traffic_patterns
                  - hydrographic_surveys_and_charts_adequacy
                  - alternative_measure
                  - offshore_structures
                  - environmental_factors
                  - prevent_reduce_risk
                  - sufficient_justification
                  - adverse_effect_to_ports_and_harbours_including_tss
                  - limited_to_what_is_essential
                  - aids_or_services
                  - fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern
                  - other_measures_taken
                  - consultations_with_mariners_and_other_users
                  - monitoring_compliance_and_actions_taken
                  - correct_format_for_description_of_proposed_system_gpsr
                  - adherence_to_other_guidance_only_if_observed_msc_1_circ_1060
                  - remarks
                  type: string
                type: array
              footnotes:
                items:
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    text:
                      type: string
                  required:
                  - id
                  - text
                  type: object
                type: array
              rows:
                items:
                  additionalProperties: false
                  properties:
                    adherence_to_other_guidance_only_if_observed_msc_1_circ_1060:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    adverse_effect_to_ports_and_harbours_including_tss:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    aids_or_services:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    aids_to_navigation:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    alternative_measure:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    applicability:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    chartlet_appropriate_one:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    consultations_with_mariners_and_other_users:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    cooperation_between_states:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    correct_format_for_description_of_proposed_system_gpsr:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    demonstrated_need:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    document_proponent:
                      type: string
                    environmental_factors:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    following_existing_traffic_patterns:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    history_of_incidents:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    hydrographic_surveys_and_charts_adequacy:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    impact_on_shipping:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    information_on_traffic_patterns:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    limited_to_what_is_essential:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    location_positions:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    monitoring_compliance_and_actions_taken:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    objectives:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    offshore_structures:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    other_measures_taken:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    prevent_reduce_risk:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    reason_for_proposal_preferred:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    reference_chart_details:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    remarks:
                      type: string
                    sufficient_justification:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                  required:
                  - document_proponent
                  - objectives
                  - demonstrated_need
                  - reason_for_proposal_preferred
                  - history_of_incidents
                  - applicability
                  - impact_on_shipping
                  - location_positions
                  - reference_chart_details
                  - chartlet_appropriate_one
                  - cooperation_between_states
                  - following_existing_traffic_patterns
                  - aids_to_navigation
                  - information_on_traffic_patterns
                  - hydrographic_surveys_and_charts_adequacy
                  - alternative_measure
                  - offshore_structures
                  - environmental_factors
                  - prevent_reduce_risk
                  - sufficient_justification
                  - adverse_effect_to_ports_and_harbours_including_tss
                  - limited_to_what_is_essential
                  - aids_or_services
                  - fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern
                  - other_measures_taken
                  - consultations_with_mariners_and_other_users
                  - monitoring_compliance_and_actions_taken
                  - correct_format_for_description_of_proposed_system_gpsr
                  - adherence_to_other_guidance_only_if_observed_msc_1_circ_1060
                  - remarks
                  type: object
                type: array
              subtitle:
                type: string
              table_type:
                const: proposed_ship_routeing_systems
                type: string
              title:
                type: string
            required:
            - table_type
            - title
            - subtitle
            - column_order
            - rows
            - footnotes
            type: object
        structured_output_enabled: true
        title: JSON Structurer 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17750057679481'
      position:
        x: 1407.461100722311
        y: 644.2335402103564
      positionAbsolute:
        x: 1407.461100722311
        y: 644.2335402103564
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774944315756'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}


            {{#1774944315756.result#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: zai-org/GLM-4.6V
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 0c2bb321-40c5-4e7d-ae08-aaf4d3d8d89a
          role: system
          text: "You are an \"IMO/NCSR Approval Conclusion Analyst\".\n\nYour task\
            \ is NOT to reconstruct a source table.\nYour task is NOT to extract raw\
            \ key information into table cells.\nYour task is NOT to output JSON.\n\
            \nYour only task is:\nRead the source document, PDF page images, and knowledge\
            \ retrieval results, then produce a decision-oriented review memo for\
            \ a downstream approval-table node.\n\nThis is an approval-conclusion\
            \ task.\nThe downstream table is a reviewer decision table, not a source-information\
            \ table.\n\nEvidence priority:\n1. First priority: PDF page images and\
            \ visually captured content.\n2. Second priority: extracted document text.\n\
            3. Third priority: knowledge retrieval results.\n\nIf extracted text conflicts\
            \ with page-image content, follow the page-image content.\nIf knowledge\
            \ retrieval conflicts with the source document, follow the source document.\n\
            \nCore decision semantics:\n- \"✓\" = the aspect is explicitly addressed\
            \ in the proposal and appears clear, adequate, and free of review concern.\n\
            - \"N/A\" = the aspect is not mentioned or not evidenced in the proposal.\n\
            - \"Un\" = the aspect is mentioned, but there is a reviewer concern, ambiguity,\
            \ insufficiency, inconsistency, or other problem that should be explained\
            \ in footnote n.\n\nImportant interpretation rule:\n- Do NOT use bare\
            \ \"U\".\n- Do NOT use \"✓n\".\n- Do NOT use \"-\".\n- Do NOT use empty\
            \ string \"\".\n- If clearly addressed without issue, use \"✓\".\n- If\
            \ not mentioned, use \"N/A\".\n- If mentioned but problematic or unclear,\
            \ use \"Un\".\n\nMandatory discipline:\n1. You must think like a reviewer\
            \ filling an approval conclusion table, not like an extractor copying\
            \ source facts.\n2. Except for document/document_proponent and remarks,\
            \ the final table cells must be marks only.\n3. Narrative content belongs\
            \ only in footnotes, remarks, and reasoning sections of this memo.\n4.\
            \ If an aspect is mentioned and has any review concern, ambiguity, insufficiency,\
            \ inconsistency, or qualification, assign \"Un\" with a footnote.\n5.\
            \ If an aspect is not mentioned, assign \"N/A\".\n6. If an aspect is clearly\
            \ and adequately addressed without concern, assign \"✓\".\n7. Do not invent\
            \ facts, marks, or footnotes not grounded in the evidence.\n8. Keep remarks\
            \ separate from footnotes.\n9. If multiple aspects share the same reviewer\
            \ concern, explicitly state that the same footnote number should be reused.\n\
            10. Footnote numbering must follow first appearance in table-column order.\n\
            \nYour output must be written in English only.\nDo not output JSON.\n\
            Do not output Markdown code fences.\nDo not output freeform narrative\
            \ without structure.\n\nYou must output using exactly these section headings:\n\
            \nDocument Identification\nDecision Policy\nRow Decision Summary\nColumn\
            \ Decisions\nFootnote Drafts\nRemarks Candidate\nCross-Column Consistency\
            \ Checks\nStructured Extraction Hints\n\nSection requirements:\n\nDocument\
            \ Identification\n- Identify the apparent proposal/document label, proponent/state,\
            \ measure name, and table type if visible.\n\nDecision Policy\n- Briefly\
            \ state that this is an approval-conclusion assessment.\n- State that\
            \ non-document / non-remarks cells should be marks only in the downstream\
            \ table.\n\nRow Decision Summary\nFor each visible/relevant row, write:\n\
            Row Label:\nApparent Document/Proponent:\nApparent Remarks/Context:\n\
            Overall Review Posture:\nGeneral Reliability of Decision:\n\nColumn Decisions\n\
            - Assess every target table aspect one by one, in exactly the order supplied\
            \ by the user.\n- For each aspect, use exactly this mini-format:\n\nAspect:\n\
            Final Mark:\nJudgement Basis:\nFootnote Needed:\nFootnote Draft:\n\nRules\
            \ for this mini-format:\n- \"Final Mark\" must be exactly one of:\n  -\
            \ \"✓\"\n  - \"N/A\"\n  - \"U1\", \"U2\", \"U3\", ...\n- \"Judgement Basis\"\
            \ must be short and decision-oriented.\n- \"Footnote Needed\" must be:\n\
            \  - \"No\" for \"✓\" and \"N/A\"\n  - \"Yes\" for any \"Un\"\n- \"Footnote\
            \ Draft\" must be:\n  - \"None.\" for \"✓\" and \"N/A\"\n  - one concise\
            \ reviewer conclusion sentence for any \"Un\"\n- If an aspect is not mentioned,\
            \ use \"N/A\", not \"Un\".\n- If an aspect is mentioned and problematic\
            \ or unclear, use \"Un\", not \"N/A\".\n- If an aspect is clearly addressed\
            \ and acceptable, use \"✓\".\n\nFootnote Drafts\n- List all distinct reviewer\
            \ footnotes that should appear in the downstream table.\n- Number footnotes\
            \ in the order of first appearance following the table aspect order supplied\
            \ by the user.\n- If later aspects have the same concern, reuse the same\
            \ footnote number.\n- Keep footnotes concise, formal, and table-ready.\n\
            \nRemarks Candidate\n- Provide only the likely content for the rightmost\
            \ Remarks column.\n- Do not place footnote text here.\n\nCross-Column\
            \ Consistency Checks\n- Highlight important inconsistencies across columns.\n\
            - Keep this section concise and review-oriented.\n\nStructured Extraction\
            \ Hints\n- Provide short downstream hints:\n  - document/document_proponent\
            \ text candidate\n  - remarks text candidate\n  - which aspects should\
            \ be marks only\n  - which aspects should carry numbered U marks\n  -\
            \ proposed footnote reuse if any\n\nImportant:\nThe downstream node will\
            \ build the final JSON table from your memo.\nSo your memo must be conclusion-first,\
            \ mark-first, and footnote-ready.\nJudgement cells are conclusion cells,\
            \ not information cells.\nThey may contain only:\n✓ / N/A / U1 / U2 /\
            \ U3 ..."
        - id: 2dd6478e-c268-4a0e-8917-24adf0d66b5f
          role: user
          text: "Current target table type:\nTRAFFIC SEPARATION SCHEMES AND ROUTEING\
            \ MEASURES OTHER THAN TRAFFIC SEPARATION SCHEMES\n\nProduce a structured\
            \ English review memo for this table type.\n\nYou must assess the row(s)\
            \ against these table aspects in exactly this order:\n\n1. document_proponent\n\
            2. objectives\n3. demonstrated_need\n4. reason_for_proposal_preferred\n\
            5. history_of_incidents\n6. applicability\n7. impact_on_shipping\n8. location_positions\n\
            9. reference_chart_details\n10. chartlet_appropriate_one\n11. cooperation_between_states\n\
            12. following_existing_traffic_patterns\n13. aids_to_navigation\n14. information_on_traffic_patterns\n\
            15. hydrographic_surveys_and_charts_adequacy\n16. alternative_measure\n\
            17. offshore_structures\n18. environmental_factors\n19. prevent_reduce_risk\n\
            20. sufficient_justification\n21. adverse_effect_to_ports_and_harbours_including_tss\n\
            22. limited_to_what_is_essential\n23. aids_or_services\n24. fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern\n\
            25. other_measures_taken\n26. consultations_with_mariners_and_other_users\n\
            27. monitoring_compliance_and_actions_taken\n28. correct_format_for_description_of_proposed_system_gpsr\n\
            29. adherence_to_other_guidance_only_if_observed_msc_1_circ_1060\n30.\
            \ remarks\n\nWhen writing the \"Column Decisions\" section, use the exact\
            \ aspect names above.\n\nPay particular attention to:\n- whether the need\
            \ and justification for the proposed scheme or routeing measure are clearly\
            \ supported;\n- whether the preferred proposal is convincingly explained;\n\
            - whether incident history, impact, and applicability are evidenced;\n\
            - whether chart details, chartlet, location, and positional information\
            \ are complete;\n- whether existing traffic patterns, aids to navigation,\
            \ and traffic information support the proposal;\n- whether hydrographic\
            \ support is sufficient;\n- whether alternatives are addressed;\n- whether\
            \ offshore structures, environmental factors, ports, harbours, and fishing\
            \ activities are considered;\n- whether the proposal is limited to what\
            \ is essential;\n- whether services, consultation, and compliance monitoring\
            \ are adequately addressed;\n- whether the system description format appears\
            \ correct.\n\nAdditional mandatory rules for this node:\n1. This is an\
            \ approval-conclusion table.\n2. Except for document_proponent and remarks,\
            \ every downstream table cell must be a mark only.\n3. The only allowed\
            \ final marks are:\n   ✓\n   N/A\n   U1, U2, U3, ...\n4. Use \"✓\" only\
            \ when the aspect is explicitly addressed and clearly acceptable without\
            \ review concern.\n5. Use \"N/A\" when the aspect is not mentioned.\n\
            6. Use \"U1\", \"U2\", \"U3\", ... when the aspect is mentioned but unclear,\
            \ insufficient, inconsistent, unsupported, or otherwise problematic.\n\
            7. Do not use bare \"U\".\n8. Do not use \"✓1\".\n9. Do not use \"-\"\
            .\n10. Do not use empty string \"\".\n11. Every \"Un\" must have a footnote\
            \ draft.\n12. Footnote numbers must increase in the order of first appearance\
            \ following the table aspect order.\n13. If the same reviewer concern\
            \ applies to multiple aspects, reuse the same footnote number.\n14. Footnote\
            \ Draft must be a concise reviewer conclusion sentence suitable for placement\
            \ below the table.\n15. Do not place descriptive summaries into future\
            \ table cells.\n\nIf the subtitle is visible, preserve its wording as\
            \ closely as possible in your discussion.\nIf remarks are visible, keep\
            \ them separate from footnotes.\n\nInput context:\n\n[Extracted document\
            \ text]\n{{#1774943864283.text#}}\n\n[PDF page images or page-image-derived\
            \ content]\n{{#1775705579726.files#}}\n\n[Knowledge retrieval result]\n\
            {{#context#}}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties: {}
            required: []
            type: object
        structured_output_enabled: false
        title: Conclusion Analyst 3
        type: llm
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: true
      height: 88
      id: '17750057683160'
      position:
        x: 1094.670651871525
        y: 764.1080465854399
      positionAbsolute:
        x: 1094.670651871525
        y: 764.1080465854399
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17750057683160'
          - text
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e2a1288a-c00a-41bd-89fb-7413e984875e
          role: system
          text: 'You are an "IMO/NCSR Approval Conclusion JSON Structurer".


            Your only task is:

            Convert the approval-conclusion memo produced by the upstream review node
            into one strict, valid, directly parseable JSON object.


            This node is a pure structuring node.

            It is NOT a review node.

            It is NOT an extraction node.

            It is NOT a reasoning node.


            You must NOT make any new judgments.

            You must NOT consult the source document again.

            You must NOT consult knowledge retrieval again.

            You must rely only on the approval-conclusion memo provided in the input.


            Core operating rule:

            The upstream memo already contains the final reviewer decisions.

            Your job is only to reorganize them into the required JSON schema.


            Highest-priority rules:

            1. Output exactly one valid JSON object.

            2. Do not output anything other than JSON.

            3. Do not output Markdown, code fences, explanations, comments, introductions,
            or summaries.

            4. All field names must use double quotes.

            5. All string values must use double quotes.

            6. Do not use trailing commas.

            7. Do not invent facts, marks, footnotes, remarks, titles, subtitles,
            or row values.

            8. If the approval-conclusion memo does not provide a value for a text
            field, use "".

            9. Preserve the exact final mark stated in the memo whenever possible.

            10. Preserve footnote numbering exactly as stated in the memo whenever
            possible.


            Critical structuring rule:

            This is a reviewer conclusion table.

            Except for:

            - document / document_proponent

            - remarks

            - title

            - subtitle

            all other row fields are judgment cells and must contain marks only.


            Allowed judgment-cell values:

            - "✓"

            - "N/A"

            - "U1", "U2", "U3", ...


            Forbidden judgment-cell values:

            - "U"

            - "✓1"

            - "-"

            - ""

            - descriptive text

            - evidence summaries

            - copied source content

            - reviewer reasoning


            Meaning of the allowed values:

            - "✓" = explicitly addressed and acceptable without review concern

            - "N/A" = not mentioned

            - "Un" = mentioned, but unclear, insufficient, inconsistent, unsupported,
            or otherwise problematic, with reviewer footnote n


            Footnote rules:

            1. Every "Un" must correspond to one footnote item whose "id" is "n".

            2. Footnotes must contain concise reviewer conclusion text only.

            3. Do not rewrite footnotes into evidence summaries.

            4. If the memo clearly says that multiple aspects reuse the same footnote,
            preserve that reuse.

            5. Remove any footnote not referenced by a "Un" mark.

            6. Keep footnote numbering exactly as already determined by the upstream
            memo.

            7. Do not renumber unless the upstream memo is internally inconsistent.


            Text field rules:

            - document / document_proponent: short row label only

            - remarks: only the final Remarks-column content or concise row context
            stated in the memo

            - do not place footnote text into remarks

            - do not place remarks into footnotes


            Row rules:

            1. Preserve every row identified in the upstream memo.

            2. If only one row is identified, output one row.

            3. Do not merge rows.

            4. Do not split one row into multiple rows unless the upstream memo explicitly
            indicates multiple rows.


            Missing-information rule:

            - For text fields: use "" if the memo does not provide a value.

            - For judgment fields: do not invent a mark.

            - If the memo is incomplete for a judgment field, copy the most conservative
            explicit value from the memo only.

            - Do not infer from outside evidence.


            Title/subtitle rule:

            - Follow the exact fixed structure requested by the user prompt.

            - If the user prompt allows blank subtitle and the memo does not clearly
            provide one, output "".


            This node must be conservative:

            If the memo is incomplete, preserve that incompleteness in the JSON rather
            than making a new judgment.'
        - id: d14e56c8-688f-4ff2-bc76-1da81197a34d
          role: user
          text: "Current target table type:\nTRAFFIC SEPARATION SCHEMES AND ROUTEING\
            \ MEASURES OTHER THAN TRAFFIC SEPARATION SCHEMES\n\nYou must output JSON\
            \ with exactly the following structure.\nDo not add fields.\nDo not remove\
            \ fields.\nDo not rename fields.\n\n{\n  \"table_type\": \"proposed_ship_routeing_systems\"\
            ,\n  \"title\": \"ANNEX\",\n  \"subtitle\": \"TRAFFIC SEPARATION SCHEMES\
            \ AND ROUTEING MEASURES OTHER THAN TRAFFIC SEPARATION SCHEMES\",\n  \"\
            column_order\": [\n    \"document_proponent\",\n    \"objectives\",\n\
            \    \"demonstrated_need\",\n    \"reason_for_proposal_preferred\",\n\
            \    \"history_of_incidents\",\n    \"applicability\",\n    \"impact_on_shipping\"\
            ,\n    \"location_positions\",\n    \"reference_chart_details\",\n   \
            \ \"chartlet_appropriate_one\",\n    \"cooperation_between_states\",\n\
            \    \"following_existing_traffic_patterns\",\n    \"aids_to_navigation\"\
            ,\n    \"information_on_traffic_patterns\",\n    \"hydrographic_surveys_and_charts_adequacy\"\
            ,\n    \"alternative_measure\",\n    \"offshore_structures\",\n    \"\
            environmental_factors\",\n    \"prevent_reduce_risk\",\n    \"sufficient_justification\"\
            ,\n    \"adverse_effect_to_ports_and_harbours_including_tss\",\n    \"\
            limited_to_what_is_essential\",\n    \"aids_or_services\",\n    \"fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern\"\
            ,\n    \"other_measures_taken\",\n    \"consultations_with_mariners_and_other_users\"\
            ,\n    \"monitoring_compliance_and_actions_taken\",\n    \"correct_format_for_description_of_proposed_system_gpsr\"\
            ,\n    \"adherence_to_other_guidance_only_if_observed_msc_1_circ_1060\"\
            ,\n    \"remarks\"\n  ],\n  \"rows\": [\n    {\n      \"document_proponent\"\
            : \"\",\n      \"objectives\": \"\",\n      \"demonstrated_need\": \"\"\
            ,\n      \"reason_for_proposal_preferred\": \"\",\n      \"history_of_incidents\"\
            : \"\",\n      \"applicability\": \"\",\n      \"impact_on_shipping\"\
            : \"\",\n      \"location_positions\": \"\",\n      \"reference_chart_details\"\
            : \"\",\n      \"chartlet_appropriate_one\": \"\",\n      \"cooperation_between_states\"\
            : \"\",\n      \"following_existing_traffic_patterns\": \"\",\n      \"\
            aids_to_navigation\": \"\",\n      \"information_on_traffic_patterns\"\
            : \"\",\n      \"hydrographic_surveys_and_charts_adequacy\": \"\",\n \
            \     \"alternative_measure\": \"\",\n      \"offshore_structures\": \"\
            \",\n      \"environmental_factors\": \"\",\n      \"prevent_reduce_risk\"\
            : \"\",\n      \"sufficient_justification\": \"\",\n      \"adverse_effect_to_ports_and_harbours_including_tss\"\
            : \"\",\n      \"limited_to_what_is_essential\": \"\",\n      \"aids_or_services\"\
            : \"\",\n      \"fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern\"\
            : \"\",\n      \"other_measures_taken\": \"\",\n      \"consultations_with_mariners_and_other_users\"\
            : \"\",\n      \"monitoring_compliance_and_actions_taken\": \"\",\n  \
            \    \"correct_format_for_description_of_proposed_system_gpsr\": \"\"\
            ,\n      \"adherence_to_other_guidance_only_if_observed_msc_1_circ_1060\"\
            : \"\",\n      \"remarks\": \"\"\n    }\n  ],\n  \"footnotes\": [\n  \
            \  {\n      \"id\": \"\",\n      \"text\": \"\"\n    }\n  ]\n}\n\nAdditional\
            \ mandatory rules:\n1. This is a pure structuring step.\n2. Use only the\
            \ approval-conclusion memo as the source of truth.\n3. Do not make any\
            \ new judgment.\n4. Except for \"document_proponent\" and \"remarks\"\
            , every row field must contain marks only.\n5. The only allowed judgment-cell\
            \ values are:\n   \"✓\"\n   \"N/A\"\n   \"U1\", \"U2\", \"U3\", ...\n\
            6. Never place factual summaries, evidence, or reasoning text into judgment\
            \ cells.\n7. If a \"Un\" mark appears in a row cell, there must be one\
            \ corresponding footnote with id \"n\".\n8. Preserve footnote reuse exactly\
            \ as indicated by the memo.\n9. Footnotes must contain concise reviewer\
            \ conclusion text only.\n10. remarks must contain only the final Remarks-column\
            \ content, never footnotes.\n11. If the memo does not clearly provide\
            \ subtitle text beyond the fixed title logic, keep:\n   \"subtitle\":\
            \ \"PROPOSED SHIP ROUTEING SYSTEMS\"\n12. Preserve every row identified\
            \ in the memo.\n\nInput context:\n\n[Analysis result]\n{{#context#}}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              column_order:
                items:
                  enum:
                  - document_proponent
                  - objectives
                  - demonstrated_need
                  - reason_for_proposal_preferred
                  - history_of_incidents
                  - applicability
                  - impact_on_shipping
                  - location_positions
                  - reference_chart_details
                  - chartlet_appropriate_one
                  - cooperation_between_states
                  - following_existing_traffic_patterns
                  - aids_to_navigation
                  - information_on_traffic_patterns
                  - hydrographic_surveys_and_charts_adequacy
                  - alternative_measure
                  - offshore_structures
                  - environmental_factors
                  - prevent_reduce_risk
                  - sufficient_justification
                  - adverse_effect_to_ports_and_harbours_including_tss
                  - limited_to_what_is_essential
                  - aids_or_services
                  - fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern
                  - other_measures_taken
                  - consultations_with_mariners_and_other_users
                  - monitoring_compliance_and_actions_taken
                  - correct_format_for_description_of_proposed_system_gpsr
                  - adherence_to_other_guidance_only_if_observed_msc_1_circ_1060
                  - remarks
                  type: string
                type: array
              footnotes:
                items:
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    text:
                      type: string
                  required:
                  - id
                  - text
                  type: object
                type: array
              rows:
                items:
                  additionalProperties: false
                  properties:
                    adherence_to_other_guidance_only_if_observed_msc_1_circ_1060:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    adverse_effect_to_ports_and_harbours_including_tss:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    aids_or_services:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    aids_to_navigation:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    alternative_measure:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    applicability:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    chartlet_appropriate_one:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    consultations_with_mariners_and_other_users:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    cooperation_between_states:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    correct_format_for_description_of_proposed_system_gpsr:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    demonstrated_need:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    document_proponent:
                      type: string
                    environmental_factors:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    following_existing_traffic_patterns:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    history_of_incidents:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    hydrographic_surveys_and_charts_adequacy:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    impact_on_shipping:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    information_on_traffic_patterns:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    limited_to_what_is_essential:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    location_positions:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    monitoring_compliance_and_actions_taken:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    objectives:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    offshore_structures:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    other_measures_taken:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    prevent_reduce_risk:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    reason_for_proposal_preferred:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    reference_chart_details:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                    remarks:
                      type: string
                    sufficient_justification:
                      pattern: ^(✓|N/A|U[1-9][0-9]*)$
                      type: string
                  required:
                  - document_proponent
                  - objectives
                  - demonstrated_need
                  - reason_for_proposal_preferred
                  - history_of_incidents
                  - applicability
                  - impact_on_shipping
                  - location_positions
                  - reference_chart_details
                  - chartlet_appropriate_one
                  - cooperation_between_states
                  - following_existing_traffic_patterns
                  - aids_to_navigation
                  - information_on_traffic_patterns
                  - hydrographic_surveys_and_charts_adequacy
                  - alternative_measure
                  - offshore_structures
                  - environmental_factors
                  - prevent_reduce_risk
                  - sufficient_justification
                  - adverse_effect_to_ports_and_harbours_including_tss
                  - limited_to_what_is_essential
                  - aids_or_services
                  - fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern
                  - other_measures_taken
                  - consultations_with_mariners_and_other_users
                  - monitoring_compliance_and_actions_taken
                  - correct_format_for_description_of_proposed_system_gpsr
                  - adherence_to_other_guidance_only_if_observed_msc_1_circ_1060
                  - remarks
                  type: object
                type: array
              subtitle:
                type: string
              table_type:
                const: proposed_ship_routeing_systems
                type: string
              title:
                type: string
            required:
            - table_type
            - title
            - subtitle
            - column_order
            - rows
            - footnotes
            type: object
        structured_output_enabled: true
        title: JSON Structurer 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17750057683161'
      position:
        x: 1407.461100722311
        y: 764.1080465854399
      positionAbsolute:
        x: 1407.461100722311
        y: 764.1080465854399
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\nfrom typing import Any, Dict, List\n\n\nALLOWED_MARK_RE\
          \ = re.compile(r\"^(✓|N/A|U[1-9]\\d*)$\")\n\n\ndef parse_input(data: Any)\
          \ -> Dict[str, Any]:\n    if isinstance(data, dict):\n        return data\n\
          \    if isinstance(data, str):\n        data = data.strip()\n        if\
          \ not data:\n            return {}\n        return json.loads(data)\n  \
          \  raise ValueError(\"structured_json must be a JSON string or dict\")\n\
          \n\ndef s(value: Any) -> str:\n    return \"\" if value is None else str(value).strip()\n\
          \n\ndef normalize_text(value: Any) -> str:\n    return s(value)\n\n\ndef\
          \ normalize_mark(value: Any, field_name: str) -> Any:\n    text = s(value)\n\
          \n    if text == \"√\":\n        text = \"✓\"\n\n    if not text:\n    \
          \    raise ValueError(f\"Judgement cell '{field_name}' is empty. Allowed\
          \ values: ✓ / N/A / U1, U2, ...\")\n\n    if not ALLOWED_MARK_RE.match(text):\n\
          \        raise ValueError(\n            f\"Invalid judgement mark in '{field_name}':\
          \ {text}. \"\n            \"Allowed values: ✓ / N/A / U1, U2, ...\"\n  \
          \      )\n\n    m = re.match(r\"^U([1-9]\\d*)$\", text)\n    if m:\n   \
          \     return {\n            \"symbol\": \"U\",\n            \"footnote_ref\"\
          : m.group(1),\n            \"display\": text\n        }\n\n    return text\n\
          \n\ndef clean_issue_text(text: Any) -> str:\n    return s(text)\n\n\ndef\
          \ extract_issues(data: Dict[str, Any]) -> List[str]:\n    issues: List[str]\
          \ = []\n    used_ids = set()\n\n    for item in data.get(\"footnotes\",\
          \ []) or []:\n        if not isinstance(item, dict):\n            continue\n\
          \        fid = s(item.get(\"id\"))\n        txt = clean_issue_text(item.get(\"\
          text\"))\n        if not fid or not txt:\n            continue\n       \
          \ if fid in used_ids:\n            continue\n        used_ids.add(fid)\n\
          \        issues.append(txt)\n\n    return issues\n\n\ndef main(structured_json:\
          \ Any) -> Dict[str, Any]:\n    data = parse_input(structured_json)\n   \
          \ rows = data.get(\"rows\", []) or []\n    row = rows[0] if rows else {}\n\
          \n    field_map = {\n        \"objectives\": \"objectives_cell\",\n    \
          \    \"demonstrated_need\": \"demonstrated_need_cell\",\n        \"reason_for_proposal_preferred\"\
          : \"Reason_for_proposal_preferred_cell\",\n        \"history_of_incidents\"\
          : \"history_of_incidents_cell\",\n        \"applicability\": \"applicability_cell\"\
          ,\n        \"impact_on_shipping\": \"impact_on_shipping_cell\",\n      \
          \  \"location_positions\": \"location_cell\",\n        \"reference_chart_details\"\
          : \"reference_chart_details_cell\",\n        \"chartlet_appropriate_one\"\
          : \"chartlet_cell\",\n        \"cooperation_between_states\": \"cooperation_between_states_cell\"\
          ,\n        \"following_existing_traffic_patterns\": \"following_existing_traffic_patterns_cell\"\
          ,\n        \"aids_to_navigation\": \"aids_to_navigation_cell\",\n      \
          \  \"information_on_traffic_patterns\": \"information_on_traffic_patterns_cell\"\
          ,\n        \"hydrographic_surveys_and_charts_adequacy\": \"surveys_and_charts_cell\"\
          ,\n        \"alternative_measure\": \"alternative_measure_cell\",\n    \
          \    \"offshore_structures\": \"offshore_structures_cell\",\n        \"\
          environmental_factors\": \"environmental_factors_cell\",\n        \"prevent_reduce_risk\"\
          : \"risk_cell\",\n        \"sufficient_justification\": \"sufficient_justification_cell\"\
          ,\n        \"adverse_effect_to_ports_and_harbours_including_tss\": \"adverse_effect_cell\"\
          ,\n        \"limited_to_what_is_essential\": \"essential_limit_cell\",\n\
          \        \"aids_or_services\": \"aids_or_services_cell\",\n        \"fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern\"\
          : \"changes_in_traffic_pattern_cell\",\n        \"other_measures_taken\"\
          : \"other_measures_taken_cell\",\n        \"consultations_with_mariners_and_other_users\"\
          : \"consultations_cell\",\n        \"monitoring_compliance_and_actions_taken\"\
          : \"monitoring_compliance_and_actions_taken_cell\",\n        \"correct_format_for_description_of_proposed_system_gpsr\"\
          : \"correct_format_Cell\",\n        \"adherence_to_other_guidance_only_if_observed_msc_1_circ_1060\"\
          : \"adherence_cell\"\n    }\n\n    named_cells = {\n        \"title_cell\"\
          : normalize_text(data.get(\"title\")),\n        \"subtitle_cell\": normalize_text(data.get(\"\
          subtitle\")),\n        \"document_label_cell\": normalize_text(row.get(\"\
          document_proponent\")),\n        \"context_description_cell\": normalize_text(row.get(\"\
          remarks\"))\n    }\n\n    for src_key, target_name in field_map.items():\n\
          \        named_cells[target_name] = normalize_mark(row.get(src_key), src_key)\n\
          \n    payload = {\n        \"named_cells\": named_cells,\n        \"issues\"\
          : extract_issues(data),\n        \"output_filename\": \"proposed_ship_routeing_systems_result\"\
          \n    }\n\n    return {\n        \"payload_json\": json.dumps(payload, ensure_ascii=False),\n\
          \        \"builtin_template_key\": \"proposed_ship_routeing_systems\",\n\
          \        \"document_label\": normalize_text(row.get(\"document_proponent\"\
          )),\n        \"issue_count\": len(payload[\"issues\"])\n    }"
        code_language: python3
        outputs:
          builtin_template_key:
            children: null
            type: string
          document_label:
            children: null
            type: string
          issue_count:
            children: null
            type: number
          payload_json:
            children: null
            type: string
        selected: false
        title: CODE 2
        type: code
        variables:
        - value_selector:
          - '17750057679481'
          - structured_output
          value_type: object
          variable: structured_json
      height: 52
      id: '1775554648405'
      position:
        x: 1709.461100722311
        y: 644.2335402103564
      positionAbsolute:
        x: 1709.461100722311
        y: 644.2335402103564
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\nfrom typing import Any, Dict, List\n\n\nALLOWED_MARK_RE\
          \ = re.compile(r\"^(✓|N/A|U[1-9]\\d*)$\")\n\n\ndef parse_input(data: Any)\
          \ -> Dict[str, Any]:\n    if isinstance(data, dict):\n        return data\n\
          \    if isinstance(data, str):\n        data = data.strip()\n        if\
          \ not data:\n            return {}\n        return json.loads(data)\n  \
          \  raise ValueError(\"structured_json must be a JSON string or dict\")\n\
          \n\ndef s(value: Any) -> str:\n    return \"\" if value is None else str(value).strip()\n\
          \n\ndef normalize_text(value: Any) -> str:\n    return s(value)\n\n\ndef\
          \ normalize_mark(value: Any, field_name: str) -> Any:\n    text = s(value)\n\
          \n    if text == \"√\":\n        text = \"✓\"\n\n    if not text:\n    \
          \    raise ValueError(f\"Judgement cell '{field_name}' is empty. Allowed\
          \ values: ✓ / N/A / U1, U2, ...\")\n\n    if not ALLOWED_MARK_RE.match(text):\n\
          \        raise ValueError(\n            f\"Invalid judgement mark in '{field_name}':\
          \ {text}. \"\n            \"Allowed values: ✓ / N/A / U1, U2, ...\"\n  \
          \      )\n\n    m = re.match(r\"^U([1-9]\\d*)$\", text)\n    if m:\n   \
          \     return {\n            \"symbol\": \"U\",\n            \"footnote_ref\"\
          : m.group(1),\n            \"display\": text\n        }\n\n    return text\n\
          \n\ndef clean_issue_text(text: Any) -> str:\n    return s(text)\n\n\ndef\
          \ extract_issues(data: Dict[str, Any]) -> List[str]:\n    issues: List[str]\
          \ = []\n    used_ids = set()\n\n    for item in data.get(\"footnotes\",\
          \ []) or []:\n        if not isinstance(item, dict):\n            continue\n\
          \        fid = s(item.get(\"id\"))\n        txt = clean_issue_text(item.get(\"\
          text\"))\n        if not fid or not txt:\n            continue\n       \
          \ if fid in used_ids:\n            continue\n        used_ids.add(fid)\n\
          \        issues.append(txt)\n\n    return issues\n\n\ndef main(structured_json:\
          \ Any) -> Dict[str, Any]:\n    data = parse_input(structured_json)\n   \
          \ rows = data.get(\"rows\", []) or []\n    row = rows[0] if rows else {}\n\
          \n    field_map = {\n        \"objectives\": \"objectives_cell\",\n    \
          \    \"demonstrated_need\": \"demonstrated_need_cell\",\n        \"reason_for_proposal_preferred\"\
          : \"Reason_for_proposal_preferred_cell\",\n        \"history_of_incidents\"\
          : \"history_of_incidents_cell\",\n        \"applicability\": \"applicability_cell\"\
          ,\n        \"impact_on_shipping\": \"impact_on_shipping_cell\",\n      \
          \  \"location_positions\": \"location_cell\",\n        \"reference_chart_details\"\
          : \"reference_chart_details_cell\",\n        \"chartlet_appropriate_one\"\
          : \"chartlet_cell\",\n        \"cooperation_between_states\": \"cooperation_between_states_cell\"\
          ,\n        \"following_existing_traffic_patterns\": \"following_existing_traffic_patterns_cell\"\
          ,\n        \"aids_to_navigation\": \"aids_to_navigation_cell\",\n      \
          \  \"information_on_traffic_patterns\": \"information_on_traffic_patterns_cell\"\
          ,\n        \"hydrographic_surveys_and_charts_adequacy\": \"surveys_and_charts_cell\"\
          ,\n        \"alternative_measure\": \"alternative_measure_cell\",\n    \
          \    \"offshore_structures\": \"offshore_structures_cell\",\n        \"\
          environmental_factors\": \"environmental_factors_cell\",\n        \"prevent_reduce_risk\"\
          : \"risk_cell\",\n        \"sufficient_justification\": \"sufficient_justification_cell\"\
          ,\n        \"adverse_effect_to_ports_and_harbours_including_tss\": \"adverse_effect_cell\"\
          ,\n        \"limited_to_what_is_essential\": \"essential_limit_cell\",\n\
          \        \"aids_or_services\": \"aids_or_services_cell\",\n        \"fishing_ground_activities_and_foreseeable_changes_in_traffic_pattern\"\
          : \"changes_in_traffic_pattern_cell\",\n        \"other_measures_taken\"\
          : \"other_measures_taken_cell\",\n        \"consultations_with_mariners_and_other_users\"\
          : \"consultations_cell\",\n        \"monitoring_compliance_and_actions_taken\"\
          : \"monitoring_compliance_and_actions_taken_cell\",\n        \"correct_format_for_description_of_proposed_system_gpsr\"\
          : \"correct_format_Cell\",\n        \"adherence_to_other_guidance_only_if_observed_msc_1_circ_1060\"\
          : \"adherence_cell\"\n    }\n\n    named_cells = {\n        \"title_cell\"\
          : normalize_text(data.get(\"title\")),\n        \"subtitle_cell\": normalize_text(data.get(\"\
          subtitle\")),\n        \"document_label_cell\": normalize_text(row.get(\"\
          document_proponent\")),\n        \"context_description_cell\": normalize_text(row.get(\"\
          remarks\"))\n    }\n\n    for src_key, target_name in field_map.items():\n\
          \        named_cells[target_name] = normalize_mark(row.get(src_key), src_key)\n\
          \n    payload = {\n        \"named_cells\": named_cells,\n        \"issues\"\
          : extract_issues(data),\n        \"output_filename\": \"proposed_ship_routeing_systems_result\"\
          \n    }\n\n    return {\n        \"payload_json\": json.dumps(payload, ensure_ascii=False),\n\
          \        \"builtin_template_key\": \"proposed_ship_routeing_systems\",\n\
          \        \"document_label\": normalize_text(row.get(\"document_proponent\"\
          )),\n        \"issue_count\": len(payload[\"issues\"])\n    }"
        code_language: python3
        outputs:
          builtin_template_key:
            children: null
            type: string
          document_label:
            children: null
            type: string
          issue_count:
            children: null
            type: number
          payload_json:
            children: null
            type: string
        selected: false
        title: CODE 3
        type: code
        variables:
        - value_selector:
          - '17750057683161'
          - structured_output
          value_type: object
          variable: structured_json
      height: 52
      id: '1775554652015'
      position:
        x: 1709.461100722311
        y: 764.1080465854399
      positionAbsolute:
        x: 1709.461100722311
        y: 764.1080465854399
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: builtin
          form: form
          human_description:
            en_US: Choose where the template comes from.
            ja_JP: Choose where the template comes from.
            pt_BR: Choose where the template comes from.
            zh_Hans: 选择模板来源。
          label:
            en_US: Template Source Type
            ja_JP: Template Source Type
            pt_BR: Template Source Type
            zh_Hans: 模板来源类型
          llm_description: Template source type.
          max: null
          min: null
          name: template_source_type
          options:
          - icon: ''
            label:
              en_US: Built-in Template
              ja_JP: Built-in Template
              pt_BR: Built-in Template
              zh_Hans: 内置模板
            value: builtin
          - icon: ''
            label:
              en_US: URL
              ja_JP: URL
              pt_BR: URL
              zh_Hans: URL
            value: url
          - icon: ''
            label:
              en_US: Base64
              ja_JP: Base64
              pt_BR: Base64
              zh_Hans: Base64
            value: base64
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: ship_reporting_systems
          form: form
          human_description:
            en_US: Select one built-in template when template source type is builtin.
            ja_JP: Select one built-in template when template source type is builtin.
            pt_BR: Select one built-in template when template source type is builtin.
            zh_Hans: 当模板来源类型为内置模板时，选择一个内置模板。
          label:
            en_US: Built-in Template
            ja_JP: Built-in Template
            pt_BR: Built-in Template
            zh_Hans: 内置模板
          llm_description: Built-in template name.
          max: null
          min: null
          name: builtin_template
          options:
          - icon: ''
            label:
              en_US: SHIP REPORTING SYSTEMS
              ja_JP: SHIP REPORTING SYSTEMS
              pt_BR: SHIP REPORTING SYSTEMS
              zh_Hans: SHIP REPORTING SYSTEMS
            value: ship_reporting_systems
          - icon: ''
            label:
              en_US: PROPOSED SHIP ROUTEING SYSTEMS
              ja_JP: PROPOSED SHIP ROUTEING SYSTEMS
              pt_BR: PROPOSED SHIP ROUTEING SYSTEMS
              zh_Hans: PROPOSED SHIP ROUTEING SYSTEMS
            value: proposed_ship_routeing_systems
          - icon: ''
            label:
              en_US: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              ja_JP: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              pt_BR: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              zh_Hans: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN
                TRAFFIC SEPARATION SCHEMES
            value: traffic_separation_schemes_and_routeing_measures_other_than_traffic_separation_schemes
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Publicly accessible .xlsx template URL.
            ja_JP: Publicly accessible .xlsx template URL.
            pt_BR: Publicly accessible .xlsx template URL.
            zh_Hans: 可公开访问的.xlsx模板URL。
          label:
            en_US: Template URL
            ja_JP: Template URL
            pt_BR: Template URL
            zh_Hans: 模板URL
          llm_description: Template URL.
          max: null
          min: null
          name: template_url
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Base64-encoded .xlsx template content.
            ja_JP: Base64-encoded .xlsx template content.
            pt_BR: Base64-encoded .xlsx template content.
            zh_Hans: base64编码的.xlsx模板内容。
          label:
            en_US: Template Base64
            ja_JP: Template Base64
            pt_BR: Template Base64
            zh_Hans: 模板Base64
          llm_description: Base64-encoded Excel template.
          max: null
          min: null
          name: template_base64
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            ja_JP: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            pt_BR: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            zh_Hans: 包含named_cells、cells、placeholders、issues或output_filename的JSON数据。
          label:
            en_US: Payload JSON
            ja_JP: Payload JSON
            pt_BR: Payload JSON
            zh_Hans: 载荷JSON
          llm_description: JSON payload used to fill the template.
          max: null
          min: null
          name: payload_json
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Optional output filename without extension.
            ja_JP: Optional output filename without extension.
            pt_BR: Optional output filename without extension.
            zh_Hans: 可选输出文件名，不含扩展名。
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: Output file name without extension.
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: upload_link
          form: form
          human_description:
            en_US: Choose whether to return a file blob or upload and return a download
              link.
            ja_JP: Choose whether to return a file blob or upload and return a download
              link.
            pt_BR: Choose whether to return a file blob or upload and return a download
              link.
            zh_Hans: 选择直接返回文件，或上传后返回下载链接。
          label:
            en_US: Delivery Mode
            ja_JP: Delivery Mode
            pt_BR: Delivery Mode
            zh_Hans: 交付模式
          llm_description: Delivery mode for the generated Excel file.
          max: null
          min: null
          name: delivery_mode
          options:
          - icon: ''
            label:
              en_US: Direct File
              ja_JP: Direct File
              pt_BR: Direct File
              zh_Hans: 直接文件
            value: blob
          - icon: ''
            label:
              en_US: Upload and Return Link
              ja_JP: Upload and Return Link
              pt_BR: Upload and Return Link
              zh_Hans: 上传并返回链接
            value: upload_link
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          builtin_template: ''
          delivery_mode: ''
          output_filename: ''
          payload_json: ''
          template_base64: ''
          template_source_type: ''
          template_url: ''
        plugin_id: wonendieee/generic_excel_template_filler
        plugin_unique_identifier: wonendieee/generic_excel_template_filler:0.3.0@5a2b7dc5ce5d08d14b6257fc7728ac8efa958e21ea3ef708be7f3de87de2f7e6
        provider_icon: ''
        provider_id: wonendieee/generic_excel_template_filler/generic_excel_template_filler
        provider_name: wonendieee/generic_excel_template_filler/generic_excel_template_filler
        provider_type: builtin
        selected: false
        title: 填充Excel模板
        tool_configurations:
          builtin_template:
            type: constant
            value: ship_reporting_systems
          delivery_mode:
            type: constant
            value: blob
          output_filename:
            type: mixed
            value: null
          template_base64:
            type: mixed
            value: null
          template_source_type:
            type: constant
            value: builtin
          template_url:
            type: mixed
            value: null
        tool_description: 基于内置模板、URL或base64填充Excel模板，并保留原有格式。
        tool_label: 填充Excel模板
        tool_name: fill_excel_template
        tool_node_version: '2'
        tool_parameters:
          payload_json:
            type: mixed
            value: '{{#1775554624107.payload_json#}}'
        type: tool
      height: 218
      id: '1775611776379'
      position:
        x: 2011.461100722311
        y: 346.2009234308764
      positionAbsolute:
        x: 2011.461100722311
        y: 346.2009234308764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: builtin
          form: form
          human_description:
            en_US: Choose where the template comes from.
            ja_JP: Choose where the template comes from.
            pt_BR: Choose where the template comes from.
            zh_Hans: 选择模板来源。
          label:
            en_US: Template Source Type
            ja_JP: Template Source Type
            pt_BR: Template Source Type
            zh_Hans: 模板来源类型
          llm_description: Template source type.
          max: null
          min: null
          name: template_source_type
          options:
          - icon: ''
            label:
              en_US: Built-in Template
              ja_JP: Built-in Template
              pt_BR: Built-in Template
              zh_Hans: 内置模板
            value: builtin
          - icon: ''
            label:
              en_US: URL
              ja_JP: URL
              pt_BR: URL
              zh_Hans: URL
            value: url
          - icon: ''
            label:
              en_US: Base64
              ja_JP: Base64
              pt_BR: Base64
              zh_Hans: Base64
            value: base64
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: ship_reporting_systems
          form: form
          human_description:
            en_US: Select one built-in template when template source type is builtin.
            ja_JP: Select one built-in template when template source type is builtin.
            pt_BR: Select one built-in template when template source type is builtin.
            zh_Hans: 当模板来源类型为内置模板时，选择一个内置模板。
          label:
            en_US: Built-in Template
            ja_JP: Built-in Template
            pt_BR: Built-in Template
            zh_Hans: 内置模板
          llm_description: Built-in template name.
          max: null
          min: null
          name: builtin_template
          options:
          - icon: ''
            label:
              en_US: SHIP REPORTING SYSTEMS
              ja_JP: SHIP REPORTING SYSTEMS
              pt_BR: SHIP REPORTING SYSTEMS
              zh_Hans: SHIP REPORTING SYSTEMS
            value: ship_reporting_systems
          - icon: ''
            label:
              en_US: PROPOSED SHIP ROUTEING SYSTEMS
              ja_JP: PROPOSED SHIP ROUTEING SYSTEMS
              pt_BR: PROPOSED SHIP ROUTEING SYSTEMS
              zh_Hans: PROPOSED SHIP ROUTEING SYSTEMS
            value: proposed_ship_routeing_systems
          - icon: ''
            label:
              en_US: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              ja_JP: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              pt_BR: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              zh_Hans: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN
                TRAFFIC SEPARATION SCHEMES
            value: traffic_separation_schemes_and_routeing_measures_other_than_traffic_separation_schemes
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Publicly accessible .xlsx template URL.
            ja_JP: Publicly accessible .xlsx template URL.
            pt_BR: Publicly accessible .xlsx template URL.
            zh_Hans: 可公开访问的.xlsx模板URL。
          label:
            en_US: Template URL
            ja_JP: Template URL
            pt_BR: Template URL
            zh_Hans: 模板URL
          llm_description: Template URL.
          max: null
          min: null
          name: template_url
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Base64-encoded .xlsx template content.
            ja_JP: Base64-encoded .xlsx template content.
            pt_BR: Base64-encoded .xlsx template content.
            zh_Hans: base64编码的.xlsx模板内容。
          label:
            en_US: Template Base64
            ja_JP: Template Base64
            pt_BR: Template Base64
            zh_Hans: 模板Base64
          llm_description: Base64-encoded Excel template.
          max: null
          min: null
          name: template_base64
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            ja_JP: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            pt_BR: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            zh_Hans: 包含named_cells、cells、placeholders、issues或output_filename的JSON数据。
          label:
            en_US: Payload JSON
            ja_JP: Payload JSON
            pt_BR: Payload JSON
            zh_Hans: 载荷JSON
          llm_description: JSON payload used to fill the template.
          max: null
          min: null
          name: payload_json
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Optional output filename without extension.
            ja_JP: Optional output filename without extension.
            pt_BR: Optional output filename without extension.
            zh_Hans: 可选输出文件名，不含扩展名。
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: Output file name without extension.
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: upload_link
          form: form
          human_description:
            en_US: Choose whether to return a file blob or upload and return a download
              link.
            ja_JP: Choose whether to return a file blob or upload and return a download
              link.
            pt_BR: Choose whether to return a file blob or upload and return a download
              link.
            zh_Hans: 选择直接返回文件，或上传后返回下载链接。
          label:
            en_US: Delivery Mode
            ja_JP: Delivery Mode
            pt_BR: Delivery Mode
            zh_Hans: 交付模式
          llm_description: Delivery mode for the generated Excel file.
          max: null
          min: null
          name: delivery_mode
          options:
          - icon: ''
            label:
              en_US: Direct File
              ja_JP: Direct File
              pt_BR: Direct File
              zh_Hans: 直接文件
            value: blob
          - icon: ''
            label:
              en_US: Upload and Return Link
              ja_JP: Upload and Return Link
              pt_BR: Upload and Return Link
              zh_Hans: 上传并返回链接
            value: upload_link
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          builtin_template: ''
          delivery_mode: ''
          output_filename: ''
          payload_json: ''
          template_base64: ''
          template_source_type: ''
          template_url: ''
        plugin_id: wonendieee/generic_excel_template_filler
        plugin_unique_identifier: wonendieee/generic_excel_template_filler:0.3.0@5a2b7dc5ce5d08d14b6257fc7728ac8efa958e21ea3ef708be7f3de87de2f7e6
        provider_icon: ''
        provider_id: wonendieee/generic_excel_template_filler/generic_excel_template_filler
        provider_name: wonendieee/generic_excel_template_filler/generic_excel_template_filler
        provider_type: builtin
        selected: true
        title: 填充Excel模板
        tool_configurations:
          builtin_template:
            type: constant
            value: proposed_ship_routeing_systems
          delivery_mode:
            type: constant
            value: blob
          output_filename:
            type: mixed
            value: null
          template_base64:
            type: mixed
            value: null
          template_source_type:
            type: constant
            value: builtin
          template_url:
            type: mixed
            value: null
        tool_description: 基于内置模板、URL或base64填充Excel模板，并保留原有格式。
        tool_label: 填充Excel模板
        tool_name: fill_excel_template
        tool_node_version: '2'
        tool_parameters:
          payload_json:
            type: mixed
            value: '{{#1775554648405.payload_json#}}'
        type: tool
      height: 218
      id: '1775612030587'
      position:
        x: 2011.461100722311
        y: 644.2335402103564
      positionAbsolute:
        x: 2011.461100722311
        y: 644.2335402103564
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: builtin
          form: form
          human_description:
            en_US: Choose where the template comes from.
            ja_JP: Choose where the template comes from.
            pt_BR: Choose where the template comes from.
            zh_Hans: 选择模板来源。
          label:
            en_US: Template Source Type
            ja_JP: Template Source Type
            pt_BR: Template Source Type
            zh_Hans: 模板来源类型
          llm_description: Template source type.
          max: null
          min: null
          name: template_source_type
          options:
          - icon: ''
            label:
              en_US: Built-in Template
              ja_JP: Built-in Template
              pt_BR: Built-in Template
              zh_Hans: 内置模板
            value: builtin
          - icon: ''
            label:
              en_US: URL
              ja_JP: URL
              pt_BR: URL
              zh_Hans: URL
            value: url
          - icon: ''
            label:
              en_US: Base64
              ja_JP: Base64
              pt_BR: Base64
              zh_Hans: Base64
            value: base64
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: ship_reporting_systems
          form: form
          human_description:
            en_US: Select one built-in template when template source type is builtin.
            ja_JP: Select one built-in template when template source type is builtin.
            pt_BR: Select one built-in template when template source type is builtin.
            zh_Hans: 当模板来源类型为内置模板时，选择一个内置模板。
          label:
            en_US: Built-in Template
            ja_JP: Built-in Template
            pt_BR: Built-in Template
            zh_Hans: 内置模板
          llm_description: Built-in template name.
          max: null
          min: null
          name: builtin_template
          options:
          - icon: ''
            label:
              en_US: SHIP REPORTING SYSTEMS
              ja_JP: SHIP REPORTING SYSTEMS
              pt_BR: SHIP REPORTING SYSTEMS
              zh_Hans: SHIP REPORTING SYSTEMS
            value: ship_reporting_systems
          - icon: ''
            label:
              en_US: PROPOSED SHIP ROUTEING SYSTEMS
              ja_JP: PROPOSED SHIP ROUTEING SYSTEMS
              pt_BR: PROPOSED SHIP ROUTEING SYSTEMS
              zh_Hans: PROPOSED SHIP ROUTEING SYSTEMS
            value: proposed_ship_routeing_systems
          - icon: ''
            label:
              en_US: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              ja_JP: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              pt_BR: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN TRAFFIC
                SEPARATION SCHEMES
              zh_Hans: TRAFFIC SEPARATION SCHEMES AND ROUTEING MEASURES OTHER THAN
                TRAFFIC SEPARATION SCHEMES
            value: traffic_separation_schemes_and_routeing_measures_other_than_traffic_separation_schemes
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Publicly accessible .xlsx template URL.
            ja_JP: Publicly accessible .xlsx template URL.
            pt_BR: Publicly accessible .xlsx template URL.
            zh_Hans: 可公开访问的.xlsx模板URL。
          label:
            en_US: Template URL
            ja_JP: Template URL
            pt_BR: Template URL
            zh_Hans: 模板URL
          llm_description: Template URL.
          max: null
          min: null
          name: template_url
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Base64-encoded .xlsx template content.
            ja_JP: Base64-encoded .xlsx template content.
            pt_BR: Base64-encoded .xlsx template content.
            zh_Hans: base64编码的.xlsx模板内容。
          label:
            en_US: Template Base64
            ja_JP: Template Base64
            pt_BR: Template Base64
            zh_Hans: 模板Base64
          llm_description: Base64-encoded Excel template.
          max: null
          min: null
          name: template_base64
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            ja_JP: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            pt_BR: JSON payload containing named_cells, cells, placeholders, issues,
              or output_filename.
            zh_Hans: 包含named_cells、cells、placeholders、issues或output_filename的JSON数据。
          label:
            en_US: Payload JSON
            ja_JP: Payload JSON
            pt_BR: Payload JSON
            zh_Hans: 载荷JSON
          llm_description: JSON payload used to fill the template.
          max: null
          min: null
          name: payload_json
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Optional output filename without extension.
            ja_JP: Optional output filename without extension.
            pt_BR: Optional output filename without extension.
            zh_Hans: 可选输出文件名，不含扩展名。
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: Output file name without extension.
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: upload_link
          form: form
          human_description:
            en_US: Choose whether to return a file blob or upload and return a download
              link.
            ja_JP: Choose whether to return a file blob or upload and return a download
              link.
            pt_BR: Choose whether to return a file blob or upload and return a download
              link.
            zh_Hans: 选择直接返回文件，或上传后返回下载链接。
          label:
            en_US: Delivery Mode
            ja_JP: Delivery Mode
            pt_BR: Delivery Mode
            zh_Hans: 交付模式
          llm_description: Delivery mode for the generated Excel file.
          max: null
          min: null
          name: delivery_mode
          options:
          - icon: ''
            label:
              en_US: Direct File
              ja_JP: Direct File
              pt_BR: Direct File
              zh_Hans: 直接文件
            value: blob
          - icon: ''
            label:
              en_US: Upload and Return Link
              ja_JP: Upload and Return Link
              pt_BR: Upload and Return Link
              zh_Hans: 上传并返回链接
            value: upload_link
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          builtin_template: ''
          delivery_mode: ''
          output_filename: ''
          payload_json: ''
          template_base64: ''
          template_source_type: ''
          template_url: ''
        plugin_id: wonendieee/generic_excel_template_filler
        plugin_unique_identifier: wonendieee/generic_excel_template_filler:0.3.0@ac5deb1202f58b8b05614051c7e4684512c7a81c3bde389e9e71f89694073978
        provider_icon: ''
        provider_id: wonendieee/generic_excel_template_filler/generic_excel_template_filler
        provider_name: wonendieee/generic_excel_template_filler/generic_excel_template_filler
        provider_type: builtin
        selected: false
        title: 填充Excel模板
        tool_configurations:
          builtin_template:
            type: constant
            value: traffic_separation_schemes_and_routeing_measures_other_than_traffic_separation_schemes
          delivery_mode:
            type: constant
            value: blob
          output_filename:
            type: mixed
            value: null
          template_base64:
            type: mixed
            value: null
          template_source_type:
            type: constant
            value: builtin
          template_url:
            type: mixed
            value: null
        tool_description: 基于内置模板、URL或base64填充Excel模板，并保留原有格式。
        tool_label: 填充Excel模板
        tool_name: fill_excel_template
        tool_node_version: '2'
        tool_parameters:
          payload_json:
            type: mixed
            value: '{{#1775554652015.payload_json#}}'
        type: tool
      height: 218
      id: '1775613074009'
      position:
        x: 2011.461100722311
        y: 938.5057541200923
      positionAbsolute:
        x: 2011.461100722311
        y: 938.5057541200923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 3a2ce2bc-76bf-40a8-9f7d-aace0d1c5567
          role: system
          text: 'You are an "IMO Ships'' Routeing Retrieval Keyword Builder".


            Your only task:

            Read the extracted proposal text and output pure-text English retrieval
            keywords and short search phrases that maximize the chance of hitting
            the governing or directly relevant IMO resolution(s), circular(s), regulation
            text, guidance documents, and previously adopted ships'' routeing documents
            in the downstream knowledge base.


            This is NOT a summary task.

            This is NOT a review task.

            This is NOT an issue-writing task.


            Target branch:

            SHIPS'' ROUTEING


            Main objective:

            Output the most retrieval-effective pure-text search anchors for a ships''
            routeing proposal or amendment.


            Priority orientation:

            Prioritize wording related to:

            - SOLAS chapter V regulation 10

            - ships'' routeing

            - General Provisions on Ships'' Routeing

            - resolution A.572(14)

            - MSC.1/Circ.1060

            - routeing systems adopted by IMO

            - routeing system amendments

            - routeing methods

            - planning

            - design criteria

            - use of the system

            - representation on charts

            - previously adopted routeing-measure resolutions


            Extraction priority:

            1. Exact official references explicitly cited in the source text

            2. Official title fragments likely to appear in IMO resolutions, circulars,
            annex headings, and draft resolution headings

            3. Canonical IMO normative terms used in routeing instruments

            4. Proposal-specific measure names or local details only if they help
            identify a specific adopted routeing measure


            You should strongly prefer:

            - SOLAS regulation V/10

            - ships'' routeing

            - General Provisions on Ships'' Routeing

            - A.572(14)

            - MSC.1/Circ.1060

            - routeing system

            - routeing measures

            - objectives and demonstrated need

            - reference chart

            - chartlet

            - geographical positions

            - geodetic datum

            - co-operation between States

            - traffic considerations

            - existing patterns of traffic flow

            - aids to navigation

            - hydrographic surveys

            - nautical charts

            - marine environmental considerations

            - mandatory routeing systems

            - position-fixing aids or services

            - consultation with mariners

            - port authorities

            - monitor compliance

            - standard format

            - draft MSC resolution


            Output rules:

            1. Output English only.

            2. Output plain text only.

            3. Do not output JSON.

            4. Do not output Markdown.

            5. Do not output explanations.

            6. Do not output headings.

            7. Do not output full sentences unless they are short official title fragments.

            8. Output one keyword or short search phrase per line.

            9. Put the strongest governing-document anchors first.

            10. Prefer short lexical queries of 2 to 8 words.

            11. Preserve official document numbers exactly when present.

            12. Do not let local coordinates, chart numbers, place names, or highly
            local operational details dominate the output unless they are essential
            for identifying a specific adopted routeing measure.

            13. Do not output narrative issue statements.


            Recommended content mix:

            - first 5 to 10 lines: exact official references and official title fragments

            - next 10 to 20 lines: canonical normative terms and short family-match
            queries

            - last 5 to 10 lines: proposal-specific bridge terms only if useful for
            disambiguation


            Input:

            [Extracted proposal text]

            {{#1774943864283.text#}}


            Output plain text keywords only.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              critical_terms:
                items:
                  type: string
                type: array
              document_profile:
                additionalProperties: false
                properties:
                  chart_references:
                    items:
                      type: string
                    type: array
                  geographical_area:
                    type: string
                  measure_name:
                    type: string
                  measure_type:
                    type: string
                  proponent:
                    type: string
                  proposal_id:
                    type: string
                  standards_or_guidelines:
                    items:
                      type: string
                    type: array
                  states_or_authorities:
                    items:
                      type: string
                    type: array
                required:
                - proposal_id
                - proponent
                - measure_name
                - measure_type
                - geographical_area
                - states_or_authorities
                - chart_references
                - standards_or_guidelines
                type: object
              high_precision_queries:
                items:
                  type: string
                type: array
              high_recall_queries:
                items:
                  type: string
                type: array
              issue_focused_queries:
                items:
                  type: string
                type: array
              named_entities:
                items:
                  type: string
                type: array
              potential_issue_signals:
                items:
                  type: string
                type: array
              retrieval_notes:
                type: string
            required:
            - document_profile
            - high_precision_queries
            - high_recall_queries
            - issue_focused_queries
            - named_entities
            - critical_terms
            - potential_issue_signals
            - retrieval_notes
            type: object
        structured_output_enabled: false
        title: Keyword Builder 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775630545080'
      position:
        x: 532.9506917774523
        y: 624.8590102399586
      positionAbsolute:
        x: 532.9506917774523
        y: 624.8590102399586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 8b58eccb-150f-45ec-b2da-a664fca830ee
          role: system
          text: 'You are an "IMO Traffic Separation Scheme Retrieval Keyword Builder".


            Your only task:

            Read the extracted proposal text and output pure-text English retrieval
            keywords and short search phrases that maximize the chance of hitting
            the governing or directly relevant IMO resolution(s), circular(s), regulation
            text, guidance documents, and previously adopted traffic separation scheme
            documents in the downstream knowledge base.


            This is NOT a summary task.

            This is NOT a review task.

            This is NOT an issue-writing task.


            Target branch:

            TRAFFIC SEPARATION SCHEMES


            Main objective:

            Output the most retrieval-effective pure-text search anchors for a traffic
            separation scheme proposal, amendment, adjustment, or related measure.


            Priority orientation:

            Prioritize wording related to:

            - traffic separation scheme

            - SOLAS chapter V regulation 10

            - General Provisions on Ships'' Routeing

            - A.572(14)

            - Rule 10 of the 1972 Collision Regulations

            - MSC.1/Circ.1060

            - separation zones

            - separation lines

            - traffic lanes

            - inshore traffic zones

            - route junctions

            - precautionary areas

            - established direction of traffic flow

            - chart representation of routeing measures

            - design criteria for traffic separation schemes

            - temporary adjustments to traffic separation schemes


            Extraction priority:

            1. Exact official references explicitly cited in the source text

            2. Official title fragments likely to appear in IMO resolutions, circulars,
            annex headings, and draft resolution headings

            3. Canonical IMO normative terms used in traffic separation scheme and
            routeing instruments

            4. Proposal-specific local scheme names or area names only if they help
            identify a specific adopted traffic separation scheme


            You should strongly prefer:

            - traffic separation scheme

            - Rule 10 traffic separation schemes

            - SOLAS regulation V/10

            - A.572(14)

            - General Provisions on Ships'' Routeing

            - MSC.1/Circ.1060

            - separation zone

            - separation line

            - traffic lane

            - inshore traffic zone

            - established direction of traffic flow

            - recommended direction of traffic flow

            - route junction

            - converging area

            - crossing traffic

            - right-angle crossing

            - aids to navigation

            - hydrographic surveys

            - nautical charts

            - position-fixing accuracy

            - design criteria for traffic separation schemes

            - chart representation

            - Notices to Mariners

            - sailing directions

            - temporary adjustments to traffic separation schemes

            - draft MSC resolution


            Output rules:

            1. Output English only.

            2. Output plain text only.

            3. Do not output JSON.

            4. Do not output Markdown.

            5. Do not output explanations.

            6. Do not output headings.

            7. Do not output full sentences unless they are short official title fragments.

            8. Output one keyword or short search phrase per line.

            9. Put the strongest governing-document anchors first.

            10. Prefer short lexical queries of 2 to 8 words.

            11. Preserve official document numbers exactly when present.

            12. Do not let local coordinates, lane names, VTS details, or narrow operational
            wording dominate the output unless they are essential for identifying
            a specific adopted traffic separation scheme.

            13. Do not output narrative issue statements.


            Recommended content mix:

            - first 5 to 10 lines: exact official references and official title fragments

            - next 10 to 20 lines: canonical normative terms and short family-match
            queries

            - last 5 to 10 lines: proposal-specific bridge terms only if useful for
            disambiguation


            Input:

            [Extracted proposal text]

            {{#1774943864283.text#}}


            Output plain text keywords only.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              critical_terms:
                items:
                  type: string
                type: array
              document_profile:
                additionalProperties: false
                properties:
                  chart_references:
                    items:
                      type: string
                    type: array
                  geographical_area:
                    type: string
                  measure_name:
                    type: string
                  measure_type:
                    type: string
                  proponent:
                    type: string
                  proposal_id:
                    type: string
                  standards_or_guidelines:
                    items:
                      type: string
                    type: array
                  states_or_authorities:
                    items:
                      type: string
                    type: array
                required:
                - proposal_id
                - proponent
                - measure_name
                - measure_type
                - geographical_area
                - states_or_authorities
                - chart_references
                - standards_or_guidelines
                type: object
              high_precision_queries:
                items:
                  type: string
                type: array
              high_recall_queries:
                items:
                  type: string
                type: array
              issue_focused_queries:
                items:
                  type: string
                type: array
              named_entities:
                items:
                  type: string
                type: array
              potential_issue_signals:
                items:
                  type: string
                type: array
              retrieval_notes:
                type: string
            required:
            - document_profile
            - high_precision_queries
            - high_recall_queries
            - issue_focused_queries
            - named_entities
            - critical_terms
            - potential_issue_signals
            - retrieval_notes
            type: object
        structured_output_enabled: false
        title: Keyword Builder 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775630788392'
      position:
        x: 532.9506917774523
        y: 728.1078678460466
      positionAbsolute:
        x: 532.9506917774523
        y: 728.1078678460466
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Select one or more PDF files to convert to images
            ja_JP: 画像に変換するPDFファイルを1つまたは複数選択してください
            pt_BR: Selecione um ou mais arquivos PDF para converter em imagens
            zh_Hans: 选择要转换为图像的一个或多个PDF文件
          label:
            en_US: PDF Files
            ja_JP: PDFファイル
            pt_BR: Arquivos PDF
            zh_Hans: PDF文件
          llm_description: Array of PDF files to be converted to images. Each page
            of each PDF will be converted to a separate image.
          max: null
          min: null
          name: pdf_files
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: 72
          form: llm
          human_description:
            en_US: Image resolution in DPI (dots per inch). Higher values produce
              better quality but larger files.
            ja_JP: DPI（ドット・パー・インチ）での画像解像度。高い値ほど品質が良くなりますがファイルサイズも大きくなります。
            pt_BR: Resolução da imagem em DPI (pontos por polegada). Valores maiores
              produzem melhor qualidade mas arquivos maiores.
            zh_Hans: 以DPI（每英寸点数）为单位的图像分辨率。数值越高质量越好但文件越大。
          label:
            en_US: Resolution (DPI)
            ja_JP: 解像度 (DPI)
            pt_BR: Resolução (DPI)
            zh_Hans: 分辨率 (DPI)
          llm_description: 'Resolution for the output images in DPI. Default is 72.
            Common values: 72 (web), 150 (standard), 300 (high quality).'
          max: null
          min: null
          name: dpi
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: PNG
          form: form
          human_description:
            en_US: Output image format. PNG for lossless quality, JPEG for smaller
              file sizes.
            ja_JP: 出力画像フォーマット。PNGは可逆圧縮、JPEGはファイルサイズが小さくなります。
            pt_BR: Formato da imagem de saída. PNG para qualidade sem perda, JPEG
              para arquivos menores.
            zh_Hans: 输出图像格式。PNG为无损质量，JPEG文件大小更小。
          label:
            en_US: Image Format
            ja_JP: 画像フォーマット
            pt_BR: Formato de Imagem
            zh_Hans: 图像格式
          llm_description: Output format for the converted images. PNG provides lossless
            quality, JPEG provides smaller file sizes.
          max: null
          min: null
          name: image_format
          options:
          - icon: ''
            label:
              en_US: PNG (Lossless)
              ja_JP: PNG（可逆圧縮）
              pt_BR: PNG (Sem Perda)
              zh_Hans: PNG（无损压缩）
            value: PNG
          - icon: ''
            label:
              en_US: JPEG (Compressed)
              ja_JP: JPEG（圧縮）
              pt_BR: JPEG (Comprimido)
              zh_Hans: JPEG（压缩）
            value: JPEG
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          dpi: ''
          image_format: ''
          pdf_files: ''
        plugin_id: atoy0m0/pdf-to-images
        plugin_unique_identifier: atoy0m0/pdf-to-images:1.0.1@bfd6805409081d0ce320c6ecfdd0cc74a3b5e07b9d3ee2450bd53226f9ce40ae
        provider_icon: ''
        provider_id: atoy0m0/pdf-to-images/pdf-to-images
        provider_name: atoy0m0/pdf-to-images/pdf-to-images
        provider_type: builtin
        selected: false
        title: PDF-to-Images
        tool_configurations:
          image_format:
            type: constant
            value: PNG
        tool_description: 使用PyMuPDF将PDF页面转换为高质量图像。支持多个PDF和可自定义分辨率。
        tool_label: PDF-to-Images
        tool_name: pdf-to-images
        tool_node_version: '2'
        tool_parameters:
          dpi:
            type: constant
            value: 72
          pdf_files:
            type: variable
            value:
            - sys
            - files
        type: tool
      height: 88
      id: '1775705579726'
      position:
        x: 231.2410256512207
        y: 212.2770379405219
      positionAbsolute:
        x: 231.2410256512207
        y: 212.2770379405219
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -371.89868337389953
      y: 110.37541577229103
      zoom: 0.5000000000000013
  rag_pipeline_variables: []
